@import "../../../yaml-var-globals";

@media all {

	/* --- Lists | Listen  -------------------------------------------------------------------------------- */

	ul,
	ol,
	dl {
		margin-left: 0;
		margin-right: 1em;
	}

	li {
		margin-left: 0;
		margin-right: 0.8em;
	}

	dd {
		margin-left: 0;
		margin-right: 0.8em;
	}

	/* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

	blockquote {
		margin-left: 0;
		margin-right: 1.5em;
	}
}