@import "yaml-sass/yaml-var-typography";

@media print {

	/**
	* @section basic layout preparation
	*/

	/* (en) change font size unit to [pt] - avoids problems with [px] in Gecko based browsers */
	/* (de) Wechsel der der Schriftgrößen-Maßheinheit zu [pt] - Probleme mit [px] in Gecko-Browsern vermeiden */
	body {
		font-size: $ym-print-fontsize;
		padding: 0 5px;
	}

	/* (en) Hide unneeded container of the screenlayout in print layout */
	/* (de) Für den Druck nicht benötigte Container des Layouts abschalten */
	nav,
	.ym-searchform {
		display:none;
	}

	/*------------------------------------------------------------------------------------------------------*/

	/* (en) Avoid page breaks right after headings */
	/* (de) Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after:avoid;
	}

	@if $ym-print-abbreviation == true {
	/*------------------------------------------------------------------------------------------------------*/

	/* (en) optional output of acronyms and abbreviations*/
	/* (de) optionale Ausgabe von Auszeichnung von Abkürzungen */

		abbr[title]:after,
		acronym[title]:after {
			content:'(' attr(title) ')';
		}
	}

	@if $ym-print-href == true {
	/*------------------------------------------------------------------------------------------------------*/

	/* (en) optional URL output of hyperlinks in print layout */
	/* (de) optionale Ausgabe der URLs von Hyperlinks */

		a[href]:after {
			content:" <URL:"attr(href)">";
			color:#444;
			background:inherit;
			font-style:italic;
		}
	}
}