/**
 * YAML form theme: "gray-theme"
 */
@media screen, projection {
  .ym-form {
    background: #f4f4f4;
    border: 2px #fff solid;
    margin: 1.5em 0 0 0;
    padding: 0;
    -webkit-box-shadow: 0 0 4px #dddddd;
    box-shadow: 0 0 4px #dddddd;
  }
  .ym-form fieldset {
    position: static;
    background: transparent;
    margin: 0.75em 0 0.75em 0;
    padding: 0 0.5em;
  }
  .ym-form legend {
    background: transparent;
    color: #000;
    font-size: 1.2em;
    line-height: 1.25em;
    font-weight: bold;
    padding: 0 0.5em;
  }
  .ym-form label,
  .ym-form .ym-label {
    color: #666;
    color: #666;
    line-height: 1.5;
    padding-top: 0.25em;
  }
  .ym-form .ym-fbox-text,
  .ym-form .ym-fbox-select,
  .ym-form .ym-fbox-check,
  .ym-form .ym-fbox-button {
    padding: 0.3em 1em;
    margin-bottom: 0.5em;
  }
  .ym-form .ym-fbox-button {
    background: #ececec;
    border-top: 1px #e0e0e0 solid;
    padding: 0 1em 1.5em 1em;
    margin: 0;
    text-align: left;
  }
  .ym-form .ym-gbox {
    padding: 0 0.5em;
    margin-right: 0;
  }
  .ym-form .ym-fbox-heading {
    font-size: 1em;
    font-size: 100%;
    color: #000;
    margin: 1em 0 1em 1em;
  }
  .ym-form .ym-fbox-check:focus + label {
    color: #000;
  }

  /**
  * @section styling form elements
  *
  * Styling for: Input, Textarea, Select ...
  *
  */
  /* styling standard form elements with 'almost' equal flexible width */
  /* Gestaltung der einzelnen Formularelemente mit ann�hend gleicher Breite */
  .ym-form .ym-fbox-text input,
  .ym-form .ym-fbox-text textarea {
    line-height: 1em;
    padding: 4px 0.3em;
  }
  .ym-form .ym-fbox-text select,
  .ym-form .ym-fbox-select select {
    line-height: 1em;
    padding: 3px 2px 3px 1px;
  }
  .ym-form input,
  .ym-form textarea,
  .ym-form select,
  .ym-form optgroup {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: inset 0 0 4px #eeeeee;
    box-shadow: inset 0 0 4px #eeeeee;
  }
  .ym-form optgroup {
    font-style: normal;
    font-weight: bold;
  }
  .ym-form .ym-fbox-text input,
  .ym-form .ym-fbox-text textarea,
  .ym-form .ym-fbox-text select,
  .ym-form .ym-fbox-select select {
    border: 1px solid #ddd;
  }
  .ym-form input[type="checkbox"],
  .ym-form input[type="radio"] {
    border: 0 none !important;
    background: transparent !important;
  }
  .ym-form .ym-message {
    color: #666;
    margin-bottom: 0.5em;
  }
  .ym-form .ym-required {
    color: #800;
    font-weight: bold;
  }
  .ym-form input:valid, .ym-form textarea:valid {
    background-color: #fff;
  }
  .ym-form input:invalid, .ym-form textarea:invalid {
    background-color: #fdd;
  }
  .ym-form .ym-error label {
    color: #800;
    font-weight: normal;
  }
  .ym-form .ym-error input, .ym-form .ym-error select, .ym-form .ym-error textarea {
    border: 1px #800 solid;
  }
  .ym-form .ym-error input:hover, .ym-form .ym-error input:focus,
  .ym-form .ym-error select:hover, .ym-form .ym-error select:focus,
  .ym-form .ym-error textarea:hover, .ym-form .ym-error textarea:focus {
    border: 1px #800 solid !important;
  }
  .ym-form .ym-error .ym-message {
    color: #800;
    font-weight: bold;
    margin-top: 0;
  }
  .ym-form input:focus, .ym-form select:focus, .ym-form textarea:focus,
  .ym-form input:hover, .ym-form select:hover, .ym-form textarea:hover,
  .ym-form input:active, .ym-form select:active, .ym-form textarea:active {
    border: 1px #888 solid;
    background: #fff;
  }

  /**
  * @section Buttons
  * inspired from: Catalin Rosu (http://www.red-team-design.com/just-another-awesome-css3-buttons)
  */
  .ym-button,
  .ym-form button,
  .ym-form input[type="button"],
  .ym-form input[type="reset"],
  .ym-form input[type="submit"] {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    border-radius: .2em;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 1.5em 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  }
  .ym-button:hover,
  .ym-form button:hover,
  .ym-form input[type="button"]:hover,
  .ym-form input[type="reset"]:hover,
  .ym-form input[type="submit"]:hover {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #fafafa, #dddddd);
    background-image: -moz-linear-gradient(top, #fafafa, #dddddd);
    background-image: -ms-linear-gradient(top, #fafafa, #dddddd);
    background-image: -o-linear-gradient(top, #fafafa, #dddddd);
    background-image: linear-gradient(to bottom, #fafafa, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
  }
  .ym-button:active,
  .ym-form button:active,
  .ym-form input[type="button"]:active,
  .ym-form input[type="reset"]:active,
  .ym-form input[type="submit"]:active {
    background-color: #bbb;
    background-image: -webkit-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -moz-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -ms-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -o-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: linear-gradient(to bottom, #cccccc, #bbbbbb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    top: 1px;
  }
  .ym-button:focus,
  .ym-form button:focus,
  .ym-form input[type="button"]:focus,
  .ym-form input[type="reset"]:focus,
  .ym-form input[type="submit"]:focus {
    outline: 0;
    background: #fafafa;
  }

  /* Button size-scaling classes */
  .ym-button {
    /* 21px */
    /* 18px */
    /* 12px */
    /* 10px */
  }
  .ym-button.ym-xlarge {
    font-size: 1.5em;
  }
  .ym-button.ym-large {
    font-size: 1.2857em;
  }
  .ym-button.ym-small {
    font-size: 0.8571em;
  }
  .ym-button.ym-xsmall {
    font-size: 0.7143em;
  }

  /* Button color scheme: primary */
  .ym-button.ym-primary,
  .ym-form button.ym-primary,
  .ym-form input[type="button"].ym-primary,
  .ym-form input[type="reset"].ym-primary,
  .ym-form input[type="submit"].ym-primary {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #66c;
    background-image: -webkit-linear-gradient(top, #8888ee, #6666cc);
    background-image: -moz-linear-gradient(top, #8888ee, #6666cc);
    background-image: -ms-linear-gradient(top, #8888ee, #6666cc);
    background-image: -o-linear-gradient(top, #8888ee, #6666cc);
    background-image: linear-gradient(to bottom, #8888ee, #6666cc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888ee', EndColorStr='#6666cc');
    border: 1px solid #007;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-primary:hover,
  .ym-form button.ym-primary:hover,
  .ym-form input[type="button"].ym-primary:hover,
  .ym-form input[type="reset"].ym-primary:hover,
  .ym-form input[type="submit"].ym-primary:hover {
    background-color: #66d;
    background-image: -webkit-linear-gradient(top, #8888ff, #6666dd);
    background-image: -moz-linear-gradient(top, #8888ff, #6666dd);
    background-image: -ms-linear-gradient(top, #8888ff, #6666dd);
    background-image: -o-linear-gradient(top, #8888ff, #6666dd);
    background-image: linear-gradient(to bottom, #8888ff, #6666dd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888ff', EndColorStr='#6666dd');
  }
  .ym-button.ym-primary:active,
  .ym-form button.ym-primary:active,
  .ym-form input[type="button"].ym-primary:active,
  .ym-form input[type="reset"].ym-primary:active,
  .ym-form input[type="submit"].ym-primary:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #66b;
    background-image: -webkit-linear-gradient(top, #8888cc, #6666aa);
    background-image: -moz-linear-gradient(top, #8888cc, #6666aa);
    background-image: -ms-linear-gradient(top, #8888cc, #6666aa);
    background-image: -o-linear-gradient(top, #8888cc, #6666aa);
    background-image: linear-gradient(to bottom, #8888cc, #6666aa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888cc', EndColorStr='#6666aa');
  }
  .ym-button.ym-primary:focus,
  .ym-form button.ym-primary:focus,
  .ym-form input[type="button"].ym-primary:focus,
  .ym-form input[type="reset"].ym-primary:focus,
  .ym-form input[type="submit"].ym-primary:focus {
    outline: 0;
    background: #88f;
  }

  /* Button color scheme: success */
  .ym-button.ym-success,
  .ym-form button.ym-success,
  .ym-form input[type="button"].ym-success,
  .ym-form input[type="reset"].ym-success,
  .ym-form input[type="submit"].ym-success {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #494;
    background-image: -webkit-linear-gradient(top, #66bb66, #449944);
    background-image: -moz-linear-gradient(top, #66bb66, #449944);
    background-image: -ms-linear-gradient(top, #66bb66, #449944);
    background-image: -o-linear-gradient(top, #66bb66, #449944);
    background-image: linear-gradient(to bottom, #66bb66, #449944);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66bb66', EndColorStr='#449944');
    border: 1px solid #070;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-success:hover,
  .ym-form button.ym-success:hover,
  .ym-form input[type="button"].ym-success:hover,
  .ym-form input[type="reset"].ym-success:hover,
  .ym-form input[type="submit"].ym-success:hover {
    background-color: #5a5;
    background-image: -webkit-linear-gradient(top, #66cc66, #55aa55);
    background-image: -moz-linear-gradient(top, #66cc66, #55aa55);
    background-image: -ms-linear-gradient(top, #66cc66, #55aa55);
    background-image: -o-linear-gradient(top, #66cc66, #55aa55);
    background-image: linear-gradient(to bottom, #66cc66, #55aa55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66cc66', EndColorStr='#55aa55');
  }
  .ym-button.ym-success:active,
  .ym-form button.ym-success:active,
  .ym-form input[type="button"].ym-success:active,
  .ym-form input[type="reset"].ym-success:active,
  .ym-form input[type="submit"].ym-success:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #484;
    background-image: -webkit-linear-gradient(top, #66aa66, #448844);
    background-image: -moz-linear-gradient(top, #66aa66, #448844);
    background-image: -ms-linear-gradient(top, #66aa66, #448844);
    background-image: -o-linear-gradient(top, #66aa66, #448844);
    background-image: linear-gradient(to bottom, #66aa66, #448844);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66aa66', EndColorStr='#448844');
  }
  .ym-button.ym-success:focus,
  .ym-form button.ym-success:focus,
  .ym-form input[type="button"].ym-success:focus,
  .ym-form input[type="reset"].ym-success:focus,
  .ym-form input[type="submit"].ym-success:focus {
    outline: 0;
    background: #6c6;
  }

  /* Button color scheme: warning */
  .ym-button.ym-warning,
  .ym-form button.ym-warning,
  .ym-form input[type="button"].ym-warning,
  .ym-form input[type="reset"].ym-warning,
  .ym-form input[type="submit"].ym-warning {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #b72;
    background-image: -webkit-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -moz-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -ms-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -o-linear-gradient(top, #ddaa44, #bb7722);
    background-image: linear-gradient(to bottom, #ddaa44, #bb7722);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddaa44', EndColorStr='#BB7722');
    border: 1px solid #970;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-warning:hover,
  .ym-form button.ym-warning:hover,
  .ym-form input[type="button"].ym-warning:hover,
  .ym-form input[type="reset"].ym-warning:hover,
  .ym-form input[type="submit"].ym-warning:hover {
    background-color: #c83;
    background-image: -webkit-linear-gradient(top, #eebb55, #cc8833);
    background-image: -moz-linear-gradient(top, #eebb55, #cc8833);
    background-image: -ms-linear-gradient(top, #eebb55, #cc8833);
    background-image: -o-linear-gradient(top, #eebb55, #cc8833);
    background-image: linear-gradient(to bottom, #eebb55, #cc8833);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eebb55', EndColorStr='#cc8833');
  }
  .ym-button.ym-warning:active,
  .ym-form button.ym-warning:active,
  .ym-form input[type="button"].ym-warning:active,
  .ym-form input[type="reset"].ym-warning:active,
  .ym-form input[type="submit"].ym-warning:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #a62;
    background-image: -webkit-linear-gradient(top, #cc9944, #aa6622);
    background-image: -moz-linear-gradient(top, #cc9944, #aa6622);
    background-image: -ms-linear-gradient(top, #cc9944, #aa6622);
    background-image: -o-linear-gradient(top, #cc9944, #aa6622);
    background-image: linear-gradient(to bottom, #cc9944, #aa6622);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc9944', EndColorStr='#aa6622');
  }
  .ym-button.ym-warning:focus,
  .ym-form button.ym-warning:focus,
  .ym-form input[type="button"].ym-warning:focus,
  .ym-form input[type="reset"].ym-warning:focus,
  .ym-form input[type="submit"].ym-warning:focus {
    outline: 0;
    background: #da4;
  }

  /* Button color scheme: danger */
  .ym-button.ym-danger,
  .ym-form button.ym-danger,
  .ym-form input[type="button"].ym-danger,
  .ym-form input[type="reset"].ym-danger,
  .ym-form input[type="submit"].ym-danger {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #944;
    background-image: -webkit-linear-gradient(top, #bb6666, #994444);
    background-image: -moz-linear-gradient(top, #bb6666, #994444);
    background-image: -ms-linear-gradient(top, #bb6666, #994444);
    background-image: -o-linear-gradient(top, #bb6666, #994444);
    background-image: linear-gradient(to bottom, #bb6666, #994444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bb6666', EndColorStr='#994444');
    border: 1px solid #700;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-danger:hover,
  .ym-form button.ym-danger:hover,
  .ym-form input[type="button"].ym-danger:hover,
  .ym-form input[type="reset"].ym-danger:hover,
  .ym-form input[type="submit"].ym-danger:hover {
    background-color: #a55;
    background-image: -webkit-linear-gradient(top, #cc6666, #aa5555);
    background-image: -moz-linear-gradient(top, #cc6666, #aa5555);
    background-image: -ms-linear-gradient(top, #cc6666, #aa5555);
    background-image: -o-linear-gradient(top, #cc6666, #aa5555);
    background-image: linear-gradient(to bottom, #cc6666, #aa5555);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc6666', EndColorStr='#aa5555');
  }
  .ym-button.ym-danger:active,
  .ym-form button.ym-danger:active,
  .ym-form input[type="button"].ym-danger:active,
  .ym-form input[type="reset"].ym-danger:active,
  .ym-form input[type="submit"].ym-danger:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #844;
    background-image: -webkit-linear-gradient(top, #aa5555, #884444);
    background-image: -moz-linear-gradient(top, #aa5555, #884444);
    background-image: -ms-linear-gradient(top, #aa5555, #884444);
    background-image: -o-linear-gradient(top, #aa5555, #884444);
    background-image: linear-gradient(to bottom, #aa5555, #884444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aa5555', EndColorStr='#884444');
  }
  .ym-button.ym-danger:focus,
  .ym-form button.ym-danger:focus,
  .ym-form input[type="button"].ym-danger:focus,
  .ym-form input[type="reset"].ym-danger:focus,
  .ym-form input[type="submit"].ym-danger:focus {
    outline: 0;
    background: #c66;
  }

  /* pseudo elements don't work on input */
  .ym-form button:before,
  .ym-button:before {
    background: #ccc;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
  }

  .ym-add:before {
    content: "\271A";
  }

  .ym-delete:before {
    content: "\2718";
  }

  .ym-close:before {
    content: "\2715";
  }

  .ym-edit:before {
    content: "\270E";
  }

  .ym-email:before {
    content: "\2709";
  }

  .ym-like:before {
    content: "\2764";
  }

  .ym-next:before {
    content: "\279C";
  }

  .ym-play:before {
    content: "\25B6";
  }

  .ym-save:before {
    content: "\2714";
  }

  .ym-sign:before {
    content: "\270D";
  }

  .ym-spark:before {
    content: "\2737";
  }

  .ym-support:before {
    content: "\2706";
  }

  .ym-star:before {
    content: "\2605";
  }

  /* removes extra inner spacing in Firefox */
  .ym-form button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* If line-height can't be modified, then fix Firefox spacing with padding */
  .ym-form input[type=button]::-moz-focus-inner,
  .ym-form input[type=reset]::-moz-focus-inner,
  .ym-form input[type=submit]::-moz-focus-inner {
    padding: .4em;
  }

  /* The disabled styles */
  .ym-form button[disabled],
  .ym-form button[disabled]:hover,
  .ym-form input[type=button][disabled],
  .ym-form input[type=button][disabled]:hover,
  .ym-form input[type=reset][disabled],
  .ym-form input[type=reset][disabled]:hover,
  .ym-form input[type=submit][disabled],
  .ym-form input[type=submit][disabled]:hover,
  .ym-button.ym-disabled,
  .ym-button.ym-disabled:hover {
    background: #eee;
    color: #aaa !important;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* ie6 support styles - redefined buttons, because of missing support for attribute selectors */
  * html .ym-button,
  * html .ym-form button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    color: #333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 1.5em 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
  }
  * html .ym-form button:focus,
  * html .ym-button:focus {
    outline: 0;
    background: #fafafa;
  }
  * html .ym-form button:hover,
  * html .ym-button:hover {
    background-color: #ddd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
  }
  * html .ym-form button:active,
  * html .ym-button:active {
    background-color: #bbb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
    position: relative;
    top: 1px;
  }
  * html .ym-button.ym-disabled,
  * html .ym-button.ym-disabled:hover {
    background: #eee;
    color: #aaa !important;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
  }
}
