
/**
 * YAML form theme: "gray-theme"
 */
@media screen and (min-width: 0px) {
  /**
  * @section general width settings for formular elements in modern browsers
  *          switching to CSS3 box modell "border-box" for perfect flexible forms
  *
  * Styling for: <labels>, <input>, <textarea> and <select>
  *
  */
  form type-select select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 68%;
  }
  form type-text input,
  form type-text textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 68%;
  }
  form fbox-grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    width: 70%;
  }

  columnar label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  full type-text input,
  full type-text textarea,
  full type-select select {
    width: 98%;
  }
  full fbox-grid {
    width: 100%;
  }

  form fbox-grid type-text input,
  form fbox-grid type-text textarea,
  form fbox-grid type-select select {
    width: 100%;
  }
}
@media screen, projection {
  form {
    background: #f4f4f4;
    border: 2px white solid;
    margin: 1.5em 0 0 0;
    padding: 0;
    -webkit-box-shadow: 0 0 4px #dddddd;
    box-shadow: 0 0 4px #dddddd;
  }
  form fieldset {
    position: static;
    background: transparent;
    margin: 0.75em 0 0.75em 0;
    padding: 0 0.5em;
  }
  form legend {
    background: transparent;
    color: #000;
    font-size: 1.2em;
    line-height: 1.25em;
    font-weight: bold;
    padding: 0 0.5em;
  }
  form label {
    color: #666;
    line-height: 1.5;
  }
  form label {
    color: #666;
    padding-top: 0.25em;
  }
  form fbox {
    padding: 0.3em 1em;
    margin-bottom: 0.5em;
  }
  form type-button {
    background: #ececec;
    border-top: 1px #e0e0e0 solid;
    padding: 0 1em 1.5em 1em;
    margin: 0;
    text-align: left;
  }
  form gbox {
    padding: 0 0.5em;
    margin-right: 0;
  }
  form fbox-heading {
    font-size: 1em;
    font-size: 100%;
    color: #000;
    margin: 1em 0 1em 1em;
  }
  form form fbox-check:focus + label {
    color: #000;
  }

  /**
  * @section styling form elements
  *
  * Styling for: Input, Textarea, Select ...
  *
  */
  /* styling standard form elements with 'almost' equal flexible width */
  /* Gestaltung der einzelnen Formularelemente mit annähend gleicher Breite */
  form type-text input,
  form type-text textarea {
    line-height: 1em;
    padding: 4px 0.3em;
  }
  form type-select select {
    line-height: 1em;
    padding: 3px 2px 3px 1px;
  }
  form input, form textarea, form select, form optgroup {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: inset 0 0 4px #eeeeee;
    box-shadow: inset 0 0 4px #eeeeee;
  }
  form optgroup {
    font-style: normal;
    font-weight: bold;
  }
  form type-text input,
  form type-text textarea,
  form type-select select {
    border: 1px solid #dddddd;
  }
  form message {
    color: #666;
    margin-bottom: 0.5em;
  }
  form required {
    color: #800;
    font-weight: bold;
  }
  form input:valid, form textarea:valid {
    background-color: #fff;
  }
  form input:invalid, form textarea:invalid {
    background-color: #fdd;
  }
  form error label {
    color: #800;
    font-weight: normal;
  }
  form error input, form error select, form error textarea {
    border: 1px #880000 solid;
  }
  form error input:hover, form error input:focus,
  form error select:hover, form error select:focus,
  form error textarea:hover, form error textarea:focus {
    border: 1px #880000 solid !important;
  }
  form error message {
    color: #800;
    font-weight: bold;
    margin-top: 0;
  }
  form type-text input:focus, form type-select select:focus, form type-text textarea:focus,
  form type-text input:hover, form type-select select:hover, form type-text textarea:hover,
  form type-text input:active, form type-select select:active, form type-text textarea:active {
    border: 1px #888888 solid;
    background: #fff;
  }

  /**
  * @section Buttons
  * inspired from: Catalin Rosu (http://www.red-team-design.com/just-another-awesome-css3-buttons)
  */
  button,
  form button,
  form input[type="button"],
  form input[type="reset"],
  form input[type="submit"] {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777777;
    border-radius: .2em;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #333333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 1.5em 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  }
  button:hover,
  form button:hover,
  form input[type="button"]:hover,
  form input[type="reset"]:hover,
  form input[type="submit"]:hover {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #fafafa, #dddddd);
    background-image: -moz-linear-gradient(top, #fafafa, #dddddd);
    background-image: -ms-linear-gradient(top, #fafafa, #dddddd);
    background-image: -o-linear-gradient(top, #fafafa, #dddddd);
    background-image: linear-gradient(to bottom, #fafafa, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
  }
  button:active,
  form button:active,
  form input[type="button"]:active,
  form input[type="reset"]:active,
  form input[type="submit"]:active {
    background-color: #bbb;
    background-image: -webkit-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -moz-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -ms-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -o-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: linear-gradient(to bottom, #cccccc, #bbbbbb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    top: 1px;
  }
  button:focus,
  form button:focus,
  form input[type="button"]:focus,
  form input[type="reset"]:focus,
  form input[type="submit"]:focus {
    outline: 0;
    background: #fafafa;
  }

  /* Button size-scaling classes */
  button {
    /* 21px */
    /* 18px */
    /* 12px */
    /* 10px */
  }
  buttonxlarge {
    font-size: 1.5em;
  }
  buttonlarge {
    font-size: 1.2857em;
  }
  buttonsmall {
    font-size: 0.8571em;
  }
  buttonxsmall {
    font-size: 0.7143em;
  }

  /* Button color scheme: primary */
  buttonprimary,
  form buttonprimary,
  form input[type="button"]primary,
  form input[type="reset"]primary,
  form input[type="submit"]primary {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #66c;
    background-image: -webkit-linear-gradient(top, #8888ee, #6666cc);
    background-image: -moz-linear-gradient(top, #8888ee, #6666cc);
    background-image: -ms-linear-gradient(top, #8888ee, #6666cc);
    background-image: -o-linear-gradient(top, #8888ee, #6666cc);
    background-image: linear-gradient(to bottom, #8888ee, #6666cc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888ee', EndColorStr='#6666cc');
    border: 1px solid #000077;
    color: white !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  buttonprimary:hover,
  form buttonprimary:hover,
  form input[type="button"]primary:hover,
  form input[type="reset"]primary:hover,
  form input[type="submit"]primary:hover {
    background-color: #66d;
    background-image: -webkit-linear-gradient(top, #8888ff, #6666dd);
    background-image: -moz-linear-gradient(top, #8888ff, #6666dd);
    background-image: -ms-linear-gradient(top, #8888ff, #6666dd);
    background-image: -o-linear-gradient(top, #8888ff, #6666dd);
    background-image: linear-gradient(to bottom, #8888ff, #6666dd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888ff', EndColorStr='#6666dd');
  }
  buttonprimary:active,
  form buttonprimary:active,
  form input[type="button"]primary:active,
  form input[type="reset"]primary:active,
  form input[type="submit"]primary:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #66b;
    background-image: -webkit-linear-gradient(top, #8888cc, #6666aa);
    background-image: -moz-linear-gradient(top, #8888cc, #6666aa);
    background-image: -ms-linear-gradient(top, #8888cc, #6666aa);
    background-image: -o-linear-gradient(top, #8888cc, #6666aa);
    background-image: linear-gradient(to bottom, #8888cc, #6666aa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888cc', EndColorStr='#6666aa');
  }
  buttonprimary:focus,
  form buttonprimary:focus,
  form input[type="button"]primary:focus,
  form input[type="reset"]primary:focus,
  form input[type="submit"]primary:focus {
    outline: 0;
    background: #88f;
  }

  /* Button color scheme: success */
  buttonsuccess,
  form buttonsuccess,
  form input[type="button"]success,
  form input[type="reset"]success,
  form input[type="submit"]success {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #494;
    background-image: -webkit-linear-gradient(top, #66bb66, #449944);
    background-image: -moz-linear-gradient(top, #66bb66, #449944);
    background-image: -ms-linear-gradient(top, #66bb66, #449944);
    background-image: -o-linear-gradient(top, #66bb66, #449944);
    background-image: linear-gradient(to bottom, #66bb66, #449944);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66bb66', EndColorStr='#449944');
    border: 1px solid #007700;
    color: white !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  buttonsuccess:hover,
  form buttonsuccess:hover,
  form input[type="button"]success:hover,
  form input[type="reset"]success:hover,
  form input[type="submit"]success:hover {
    background-color: #5a5;
    background-image: -webkit-linear-gradient(top, #66cc66, #55aa55);
    background-image: -moz-linear-gradient(top, #66cc66, #55aa55);
    background-image: -ms-linear-gradient(top, #66cc66, #55aa55);
    background-image: -o-linear-gradient(top, #66cc66, #55aa55);
    background-image: linear-gradient(to bottom, #66cc66, #55aa55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66cc66', EndColorStr='#55aa55');
  }
  buttonsuccess:active,
  form buttonsuccess:active,
  form input[type="button"]success:active,
  form input[type="reset"]success:active,
  form input[type="submit"]success:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #484;
    background-image: -webkit-linear-gradient(top, #66aa66, #448844);
    background-image: -moz-linear-gradient(top, #66aa66, #448844);
    background-image: -ms-linear-gradient(top, #66aa66, #448844);
    background-image: -o-linear-gradient(top, #66aa66, #448844);
    background-image: linear-gradient(to bottom, #66aa66, #448844);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66aa66', EndColorStr='#448844');
  }
  buttonsuccess:focus,
  form buttonsuccess:focus,
  form input[type="button"]success:focus,
  form input[type="reset"]success:focus,
  form input[type="submit"]success:focus {
    outline: 0;
    background: #6c6;
  }

  /* Button color scheme: warning */
  buttonwarning,
  form buttonwarning,
  form input[type="button"]warning,
  form input[type="reset"]warning,
  form input[type="submit"]warning {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #b72;
    background-image: -webkit-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -moz-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -ms-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -o-linear-gradient(top, #ddaa44, #bb7722);
    background-image: linear-gradient(to bottom, #ddaa44, #bb7722);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddaa44', EndColorStr='#BB7722');
    border: 1px solid #997700;
    color: white !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  buttonwarning:hover,
  form buttonwarning:hover,
  form input[type="button"]warning:hover,
  form input[type="reset"]warning:hover,
  form input[type="submit"]warning:hover {
    background-color: #c83;
    background-image: -webkit-linear-gradient(top, #eebb55, #cc8833);
    background-image: -moz-linear-gradient(top, #eebb55, #cc8833);
    background-image: -ms-linear-gradient(top, #eebb55, #cc8833);
    background-image: -o-linear-gradient(top, #eebb55, #cc8833);
    background-image: linear-gradient(to bottom, #eebb55, #cc8833);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eebb55', EndColorStr='#cc8833');
  }
  buttonwarning:active,
  form buttonwarning:active,
  form input[type="button"]warning:active,
  form input[type="reset"]warning:active,
  form input[type="submit"]warning:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #a62;
    background-image: -webkit-linear-gradient(top, #cc9944, #aa6622);
    background-image: -moz-linear-gradient(top, #cc9944, #aa6622);
    background-image: -ms-linear-gradient(top, #cc9944, #aa6622);
    background-image: -o-linear-gradient(top, #cc9944, #aa6622);
    background-image: linear-gradient(to bottom, #cc9944, #aa6622);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc9944', EndColorStr='#aa6622');
  }
  buttonwarning:focus,
  form buttonwarning:focus,
  form input[type="button"]warning:focus,
  form input[type="reset"]warning:focus,
  form input[type="submit"]warning:focus {
    outline: 0;
    background: #da4;
  }

  /* Button color scheme: danger */
  buttondanger,
  form buttondanger,
  form input[type="button"]danger,
  form input[type="reset"]danger,
  form input[type="submit"]danger {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #944;
    background-image: -webkit-linear-gradient(top, #bb6666, #994444);
    background-image: -moz-linear-gradient(top, #bb6666, #994444);
    background-image: -ms-linear-gradient(top, #bb6666, #994444);
    background-image: -o-linear-gradient(top, #bb6666, #994444);
    background-image: linear-gradient(to bottom, #bb6666, #994444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bb6666', EndColorStr='#994444');
    border: 1px solid #770000;
    color: white !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  buttondanger:hover,
  form buttondanger:hover,
  form input[type="button"]danger:hover,
  form input[type="reset"]danger:hover,
  form input[type="submit"]danger:hover {
    background-color: #a55;
    background-image: -webkit-linear-gradient(top, #cc6666, #aa5555);
    background-image: -moz-linear-gradient(top, #cc6666, #aa5555);
    background-image: -ms-linear-gradient(top, #cc6666, #aa5555);
    background-image: -o-linear-gradient(top, #cc6666, #aa5555);
    background-image: linear-gradient(to bottom, #cc6666, #aa5555);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc6666', EndColorStr='#aa5555');
  }
  buttondanger:active,
  form buttondanger:active,
  form input[type="button"]danger:active,
  form input[type="reset"]danger:active,
  form input[type="submit"]danger:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #844;
    background-image: -webkit-linear-gradient(top, #aa5555, #884444);
    background-image: -moz-linear-gradient(top, #aa5555, #884444);
    background-image: -ms-linear-gradient(top, #aa5555, #884444);
    background-image: -o-linear-gradient(top, #aa5555, #884444);
    background-image: linear-gradient(to bottom, #aa5555, #884444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aa5555', EndColorStr='#884444');
  }
  buttondanger:focus,
  form buttondanger:focus,
  form input[type="button"]danger:focus,
  form input[type="reset"]danger:focus,
  form input[type="submit"]danger:focus {
    outline: 0;
    background: #c66;
  }

  /* pseudo elements don't work on input */
  form button:before,
  button:before {
    background: #ccc;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 0.2em;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 0.15em 0 0 0.15em;
    pointer-events: none;
  }

  add:before {
    content: "\271A";
  }

  delete:before {
    content: "\2718";
  }

  close:before {
    content: "\2715";
  }

  edit:before {
    content: "\270E";
  }

  email:before {
    content: "\2709";
  }

  like:before {
    content: "\2764";
  }

  next:before {
    content: "\279C";
  }

  play:before {
    content: "\25B6";
  }

  save:before {
    content: "\2714";
  }

  sign:before {
    content: "\270D";
  }

  spark:before {
    content: "\2737";
  }

  support:before {
    content: "\2706";
  }

  star:before {
    content: "\2605";
  }

  /* removes extra inner spacing in Firefox */
  form button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* If line-height can't be modified, then fix Firefox spacing with padding */
  form input[type=button]::-moz-focus-inner,
  form input[type=reset]::-moz-focus-inner,
  form input[type=submit]::-moz-focus-inner {
    padding: .4em;
  }

  /* The disabled styles */
  form button[disabled],
  form button[disabled]:hover,
  form input[type=button][disabled],
  form input[type=button][disabled]:hover,
  form input[type=reset][disabled],
  form input[type=reset][disabled]:hover,
  form input[type=submit][disabled],
  form input[type=submit][disabled]:hover,
  buttondisabled,
  buttondisabled:hover {
    background: #eee;
    color: #aaaaaa !important;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* ie6 support styles - redefined buttons, because of missing support for attribute selectors */
  * html button,
  * html form button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777777;
    color: #333333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 1.5em 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
  }
  * html form button:focus,
  * html button:focus {
    outline: 0;
    background: #fafafa;
  }
  * html form button:hover,
  * html button:hover {
    background-color: #ddd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
  }
  * html form button:active,
  * html button:active {
    background-color: #bbb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
    position: relative;
    top: 1px;
  }
  * html buttondisabled,
  * html buttondisabled:hover {
    background: #eee;
    color: #aaaaaa !important;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
  }
}
