@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700|Droid+Sans:700");
/* Google Font API */
/* YAML Framework Components */
/**
 *  "Yet Another Multicolumn Layout" - YAML CSS Framework
 *  (en) YAML core stylesheet
 *  (de) YAML Basis-Stylesheet
*/
@media all {
  /*
   *  @section Normalisation Module
   */
  * {
    margin: 0;
    padding: 0;
  }

  option {
    padding-left: 0.4em;
  }

  select {
    padding: 1px;
  }

  * html body * {
    overflow: visible;
  }

  body {
    font-size: 100%;
    background: #fff;
    color: #000;
    text-align: left;
  }

  div:target {
    outline: 0 none;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, nav, section {
    display: block;
  }

  audio,
  canvas,
  video {
    display: inline-block;
  }

  audio:not([controls]) {
    display: none;
  }

  [hidden] {
    display: none;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
  }

  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  fieldset, img {
    border: 0 solid;
  }

  ul, ol, dl {
    margin: 0 0 1em 1em;
  }

  li {
    line-height: 1.5em;
    margin-left: 0.8em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 1em 0.8em;
  }

  blockquote {
    margin: 0 0 1em 0.8em;
  }

  q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /**
  * @section Float Handling Module
  */
  .ym-clearfix:before {
    content: "";
    display: table;
  }

  .ym-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }

  .ym-contain-dt {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: visible;
  }

  .ym-contain-oh {
    overflow: hidden;
    width: 100%;
    display: block;
  }

  .ym-contain-fl {
    float: left;
    width: 100%;
  }

  /**
  * @section Column Module
  */
  .ym-column {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .ym-col1 {
    float: left;
    width: 20%;
  }

  .ym-col2 {
    float: right;
    width: 20%;
  }

  .ym-col3 {
    width: auto;
    margin: 0 20%;
  }

  .ym-cbox {
    padding: 0 10px;
  }

  .ym-cbox-left {
    padding: 0 10px 0 0;
  }

  .ym-cbox-right {
    padding: 0 0 0 10px;
  }

  .ym-ie-clearing {
    display: none;
  }

  /**
  * @section Grid Module
  */
  .ym-grid {
    display: table;
    table-layout: fixed;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .ym-gl {
    float: left;
    margin: 0;
  }

  .ym-gr {
    float: right;
    margin: 0 0 0 -5px;
  }

  .ym-g20 {
    width: 20%;
  }

  .ym-g40 {
    width: 40%;
  }

  .ym-g60 {
    width: 60%;
  }

  .ym-g80 {
    width: 80%;
  }

  .ym-g25 {
    width: 25%;
  }

  .ym-g33 {
    width: 33.333%;
  }

  .ym-g50 {
    width: 50%;
  }

  .ym-g66 {
    width: 66.666%;
  }

  .ym-g75 {
    width: 75%;
  }

  .ym-g38 {
    width: 38.2%;
  }

  .ym-g62 {
    width: 61.8%;
  }

  .ym-gbox {
    padding: 0 10px;
  }

  .ym-gbox-left {
    padding: 0 10px 0 0;
  }

  .ym-gbox-right {
    padding: 0 0 0 10px;
  }

  .ym-equalize {
    overflow: hidden;
  }

  .ym-equalize > [class*="ym-g"] {
    display: table-cell;
    float: none;
    margin: 0;
    vertical-align: top;
  }

  .ym-equalize > [class*="ym-g"] > [class*="ym-gbox"] {
    padding-bottom: 10000px;
    margin-bottom: -10000px;
  }

  /**
  * @section Form Module
  */
  .ym-form,
  .ym-form fieldset {
    overflow: hidden;
  }

  .ym-form div {
    position: relative;
  }
  .ym-form label,
  .ym-form .ym-label,
  .ym-form .ym-message {
    position: relative;
    line-height: 1.5;
    display: block;
  }
  .ym-form .ym-type-check label {
    display: inline;
  }
  .ym-form input,
  .ym-form textarea {
    cursor: text;
  }
  .ym-form input[type="checkbox"],
  .ym-form input[type="radio"],
  .ym-form select,
  .ym-form label {
    cursor: pointer;
  }
  .ym-form textarea {
    overflow: auto;
  }
  .ym-form input[type=hidden] {
    display: none !important;
  }
  .ym-form .ym-fbox:before {
    content: "";
    display: table;
  }
  .ym-form .ym-fbox:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .ym-form select,
  .ym-form input,
  .ym-form textarea {
    display: block;
    position: relative;
    width: 56%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .ym-form .ym-type-check input {
    display: inline;
    width: auto;
  }
  .ym-form .ym-type-button input {
    display: inline;
    overflow: visible;
    width: auto;
  }
  .ym-form .ym-type-check input:focus,
  .ym-form .ym-type-check input:hover,
  .ym-form .ym-type-check input:active {
    border: 0 none;
  }
  .ym-form .ym-fbox-grid {
    overflow: hidden;
    width: 60%;
  }
  .ym-form .ym-fbox-grid .ym-type-text input,
  .ym-form .ym-fbox-grid .ym-type-text textarea,
  .ym-form .ym-fbox-grid .ym-type-select select {
    width: 96%;
    margin-left: 0;
  }
  .ym-form .ym-fbox-grid .ym-type-check input {
    margin-left: 0;
  }
  .ym-form .ym-g20,
  .ym-form .ym-g40,
  .ym-form .ym-g60,
  .ym-form .ym-g80,
  .ym-form .ym-g25,
  .ym-form .ym-g33,
  .ym-form .ym-g50,
  .ym-form .ym-g66,
  .ym-form .ym-g75,
  .ym-form .ym-g38,
  .ym-form .ym-g62 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0 !important;
    margin-right: 2% !important;
  }
  .ym-form .ym-g20 {
    width: 18% !important;
  }
  .ym-form .ym-g40 {
    width: 38% !important;
  }
  .ym-form .ym-g60 {
    width: 58% !important;
  }
  .ym-form .ym-g80 {
    width: 78% !important;
  }
  .ym-form .ym-g25 {
    width: 23% !important;
  }
  .ym-form .ym-g33 {
    width: 31.333% !important;
  }
  .ym-form .ym-g50 {
    width: 48% !important;
  }
  .ym-form .ym-g66 {
    width: 64.666% !important;
  }
  .ym-form .ym-g75 {
    width: 73% !important;
  }
  .ym-form .ym-g38 {
    width: 36.2% !important;
  }
  .ym-form .ym-g62 {
    width: 59.8% !important;
  }

  .ym-full .ym-type-select select,
  .ym-full .ym-type-text input,
  .ym-full .ym-type-text textarea {
    width: 94%;
    margin-right: -3px;
  }
  .ym-full .ym-fbox-grid {
    width: 100%;
  }

  .ym-columnar .ym-label,
  .ym-columnar .ym-type-text label,
  .ym-columnar .ym-type-select label {
    display: inline;
    float: left;
    width: 30%;
    z-index: 1;
  }
  .ym-columnar .ym-type-select select,
  .ym-columnar .ym-type-text input,
  .ym-columnar .ym-type-text textarea {
    float: left;
    width: 65%;
    margin-right: -3px;
  }
  .ym-columnar .ym-label {
    position: absolute;
    top: 0;
  }
  .ym-columnar .ym-type-check {
    position: relative;
  }
  .ym-columnar .ym-type-check .ym-label {
    line-height: 1.0;
  }
  .ym-columnar .ym-type-check input,
  .ym-columnar .ym-error .ym-message {
    margin-left: 30%;
  }
  .ym-columnar .ym-fbox-grid {
    margin-left: 30%;
    width: 70%;
    margin-right: -3px;
  }
  .ym-columnar .ym-fbox-grid .ym-type-text label,
  .ym-columnar .ym-fbox-grid .ym-type-select label {
    display: block;
    float: none;
    width: auto;
    z-index: 1;
    margin-left: 0;
  }
  .ym-columnar .ym-fbox-grid .ym-type-check label,
  .ym-columnar .ym-fbox-grid .ym-type-check input {
    margin-left: 0;
  }

  .ym-fbox-grid + .ym-fbox-grid {
    margin-top: 0.5em;
  }

  .ym-columnar fieldset .ym-type-button,
  fieldset.ym-columnar .ym-type-button {
    padding-left: 30%;
  }

  .ym-type-select select {
    width: 58%;
  }

  .ym-full .ym-type-select select {
    width: 96%;
  }

  .ym-columnar .ym-type-select select {
    width: 67%;
  }

   /**
	* Inline forms display - technical base (optional)
	*/
  .ym-form.ym-inline .ym-type-select select, .ym-form.ym-form.ym-inline .ym-type-text input,
  .ym-form .ym-type-select.ym-inline select,
  .ym-form .ym-type-text.ym-inline input {
    width: auto !important;
    display: inline;
    float: none;
    margin: 0 0.25em 0 0;
    line-height: 1.5;
  }

  /**
  * @section Accessibility Module
  */
  .ym-skip,
  .ym-hideme,
  .ym-print {
    position: absolute;
    top: -32768px;
    left: -32768px;
  }

  .ym-skip:focus,
  .ym-skip:active {
    position: static;
    top: 0;
    left: 0;
  }

  .ym-skiplinks {
    position: absolute;
    top: 0px;
    left: -32768px;
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .ym-skiplinks .ym-skip:focus,
  .ym-skiplinks .ym-skip:active {
    left: 32768px;
    outline: 0 none;
    position: absolute;
    width: 100%;
  }
}
@media print {
  /**
  * @section print adjustments for core modules
  *
  * (en) float clearing for subtemplates. Uses display:table to avoid bugs in FF & IE
  * (de) Float Clearing für die Subtemplates. Verwendet display:table, um Darstellungsprobleme im FF & IE zu vermeiden
  */
  .ym-grid > .ym-gl,
  .ym-grid > .ym-gr {
    overflow: visible;
    display: table;
  }

  .ym-print {
    position: static;
    left: 0;
  }

  .ym-noprint {
    display: none !important;
  }
}
@media all {
  .ym-hlist {
    width: 100%;
    overflow: hidden;
    position: relative;
    line-height: 1em;
    background: #222;
  }
  .ym-hlist ul {
    margin: 0;
    padding: 0.5em 1.5em;
    display: inline;
    float: left;
  }
  .ym-hlist ul li {
    display: inline;
    float: left;
    font-size: 1.0em;
    line-height: 1;
    list-style-type: none;
    margin: 0 0.25em 0 0;
    padding: 0;
  }
  .ym-hlist ul li a, .ym-hlist ul li strong {
    background: transparent;
    color: #aaa;
    display: block;
    font-size: 1em;
    line-height: 2em;
    padding: 0 0.5em;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    width: auto;
  }
  .ym-hlist ul li a:focus, .ym-hlist ul li a:hover, .ym-hlist ul li a:active {
    color: #ccc;
    background: #666;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0.2em;
    text-decoration: none;
    outline: 0 none;
  }
  .ym-hlist ul li.active {
    background: #666;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.2em;
    color: #fff;
  }
  .ym-hlist ul li.active strong, .ym-hlist ul li.active a:focus, .ym-hlist ul li.active a:hover, .ym-hlist ul li.active a:active {
    background: transparent;
    color: #fff;
    text-decoration: none;
  }

  .ym-searchform {
    float: right;
    display: inline;
    line-height: 2;
    padding: 0.5em 1.5em;
  }
  .ym-searchform .ym-searchfield {
    background: #fff;
    line-height: 1;
    padding: 0.25em;
    width: 12em;
    border: solid 1px #888888;
    border: solid 1px rgba(255, 255, 255, 0.1);
    outline: none;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .ym-searchform .ym-searchbutton {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    padding: 0.25em;
    border: solid 1px transparent;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: .2em;
    background: #5f5f5f;
    background: rgba(255, 255, 255, 0.2);
  }
}
/**
 * YAML form theme: "gray-theme"
 */
@media screen and (min-width: 0px) {
  /**
  * @section general width settings for formular elements in modern browsers
  *          switching to CSS3 box modell "border-box" for perfect flexible forms
  *
  * Styling for: <labels>, <input>, <textarea> and <select>
  *
  */
  .ym-form .ym-type-select select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 58%;
  }
  .ym-form .ym-type-text input,
  .ym-form .ym-type-text textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 58%;
  }
  .ym-form .ym-fbox-grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    width: 60%;
  }

  .ym-columnar label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .ym-columnar .ym-type-select select {
    width: 68%;
  }
  .ym-columnar .ym-type-text input,
  .ym-columnar .ym-type-text textarea {
    width: 68%;
  }
  .ym-columnar .ym-fbox-grid {
    width: 70%;
  }

  .ym-full .ym-type-text input,
  .ym-full .ym-type-text textarea,
  .ym-full .ym-type-select select {
    width: 98%;
  }
  .ym-full .ym-fbox-grid {
    width: 100%;
  }

  .ym-form .ym-fbox-grid .ym-type-text input,
  .ym-form .ym-fbox-grid .ym-type-text textarea,
  .ym-form .ym-fbox-grid .ym-type-select select {
    width: 100%;
  }
}
@media screen, projection {
  .ym-form {
    background: #f4f4f4;
    border: 2px white solid;
    margin: 1.5em 0 0 0;
    padding: 0;
    -webkit-box-shadow: 0 0 4px #dddddd;
    box-shadow: 0 0 4px #dddddd;
  }
  .ym-form fieldset {
    position: static;
    background: transparent;
    margin: 0.75em 0 0.75em 0;
    padding: 0 0.5em;
  }
  .ym-form legend {
    background: transparent;
    color: #000;
    font-size: 1.2em;
    line-height: 1.25em;
    font-weight: bold;
    padding: 0 0.5em;
  }
  .ym-form label {
    color: #666;
    line-height: 1.5;
  }
  .ym-form .ym-label {
    color: #666;
    padding-top: 0.25em;
  }
  .ym-form .ym-fbox {
    padding: 0.3em 1em;
    margin-bottom: 0.5em;
  }
  .ym-form .ym-type-button {
    background: #ececec;
    border-top: 1px #e0e0e0 solid;
    padding: 0 1em 1.5em 1em;
    margin: 0;
    text-align: left;
  }
  .ym-form .ym-gbox {
    padding: 0 0.5em;
    margin-right: 0;
  }
  .ym-form .ym-fbox-heading {
    font-size: 1em;
    font-size: 100%;
    color: #000;
    margin: 1em 0 1em 1em;
  }
  .ym-form .ym-form .ym-fbox-check:focus + label {
    color: #000;
  }

  /**
  * @section styling form elements
  *
  * Styling for: Input, Textarea, Select ...
  *
  */
  /* styling standard form elements with 'almost' equal flexible width */
  /* Gestaltung der einzelnen Formularelemente mit annähend gleicher Breite */
  .ym-form .ym-type-text input,
  .ym-form .ym-type-text textarea {
    line-height: 1em;
    padding: 4px 0.3em;
  }
  .ym-form .ym-type-select select {
    line-height: 1em;
    padding: 3px 2px 3px 1px;
  }
  .ym-form input, .ym-form textarea, .ym-form select, .ym-form optgroup {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: inset 0 0 4px #eeeeee;
    box-shadow: inset 0 0 4px #eeeeee;
  }
  .ym-form optgroup {
    font-style: normal;
    font-weight: bold;
  }
  .ym-form .ym-type-text input,
  .ym-form .ym-type-text textarea,
  .ym-form .ym-type-select select {
    border: 1px solid #dddddd;
  }
  .ym-form .ym-message {
    color: #666;
    margin-bottom: 0.5em;
  }
  .ym-form .ym-required {
    color: #800;
    font-weight: bold;
  }
  .ym-form input:valid, .ym-form textarea:valid {
    background-color: #fff;
  }
  .ym-form input:invalid, .ym-form textarea:invalid {
    background-color: #fdd;
  }
  .ym-form .ym-error label {
    color: #800;
    font-weight: normal;
  }
  .ym-form .ym-error input, .ym-form .ym-error select, .ym-form .ym-error textarea {
    border: 1px #880000 solid;
  }
  .ym-form .ym-error input:hover, .ym-form .ym-error input:focus,
  .ym-form .ym-error select:hover, .ym-form .ym-error select:focus,
  .ym-form .ym-error textarea:hover, .ym-form .ym-error textarea:focus {
    border: 1px #880000 solid !important;
  }
  .ym-form .ym-error .ym-message {
    color: #800;
    font-weight: bold;
    margin-top: 0;
  }
  .ym-form .ym-type-text input:focus, .ym-form .ym-type-select select:focus, .ym-form .ym-type-text textarea:focus,
  .ym-form .ym-type-text input:hover, .ym-form .ym-type-select select:hover, .ym-form .ym-type-text textarea:hover,
  .ym-form .ym-type-text input:active, .ym-form .ym-type-select select:active, .ym-form .ym-type-text textarea:active {
    border: 1px #888888 solid;
    background: #fff;
  }

  /**
  * @section Buttons
  * inspired from: Catalin Rosu (http://www.red-team-design.com/just-another-awesome-css3-buttons)
  */
  .ym-button,
  .ym-form button,
  .ym-form input[type="button"],
  .ym-form input[type="reset"],
  .ym-form input[type="submit"] {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777777;
    border-radius: .2em;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #333333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 1.5em 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  }
  .ym-button:hover,
  .ym-form button:hover,
  .ym-form input[type="button"]:hover,
  .ym-form input[type="reset"]:hover,
  .ym-form input[type="submit"]:hover {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #fafafa, #dddddd);
    background-image: -moz-linear-gradient(top, #fafafa, #dddddd);
    background-image: -ms-linear-gradient(top, #fafafa, #dddddd);
    background-image: -o-linear-gradient(top, #fafafa, #dddddd);
    background-image: linear-gradient(to bottom, #fafafa, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
  }
  .ym-button:active,
  .ym-form button:active,
  .ym-form input[type="button"]:active,
  .ym-form input[type="reset"]:active,
  .ym-form input[type="submit"]:active {
    background-color: #bbb;
    background-image: -webkit-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -moz-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -ms-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -o-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: linear-gradient(to bottom, #cccccc, #bbbbbb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    top: 1px;
  }
  .ym-button:focus,
  .ym-form button:focus,
  .ym-form input[type="button"]:focus,
  .ym-form input[type="reset"]:focus,
  .ym-form input[type="submit"]:focus {
    outline: 0;
    background: #fafafa;
  }

  /* Button size-scaling classes */
  .ym-button {
    /* 21px */
    /* 18px */
    /* 12px */
    /* 10px */
  }
  .ym-button.ym-xlarge {
    font-size: 1.5em;
  }
  .ym-button.ym-large {
    font-size: 1.2857em;
  }
  .ym-button.ym-small {
    font-size: 0.8571em;
  }
  .ym-button.ym-xsmall {
    font-size: 0.7143em;
  }

  /* Button color scheme: primary */
  .ym-button.ym-primary,
  .ym-form button.ym-primary,
  .ym-form input[type="button"].ym-primary,
  .ym-form input[type="reset"].ym-primary,
  .ym-form input[type="submit"].ym-primary {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #66c;
    background-image: -webkit-linear-gradient(top, #8888ee, #6666cc);
    background-image: -moz-linear-gradient(top, #8888ee, #6666cc);
    background-image: -ms-linear-gradient(top, #8888ee, #6666cc);
    background-image: -o-linear-gradient(top, #8888ee, #6666cc);
    background-image: linear-gradient(to bottom, #8888ee, #6666cc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888ee', EndColorStr='#6666cc');
    border: 1px solid #000077;
    color: white !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-primary:hover,
  .ym-form button.ym-primary:hover,
  .ym-form input[type="button"].ym-primary:hover,
  .ym-form input[type="reset"].ym-primary:hover,
  .ym-form input[type="submit"].ym-primary:hover {
    background-color: #66d;
    background-image: -webkit-linear-gradient(top, #8888ff, #6666dd);
    background-image: -moz-linear-gradient(top, #8888ff, #6666dd);
    background-image: -ms-linear-gradient(top, #8888ff, #6666dd);
    background-image: -o-linear-gradient(top, #8888ff, #6666dd);
    background-image: linear-gradient(to bottom, #8888ff, #6666dd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888ff', EndColorStr='#6666dd');
  }
  .ym-button.ym-primary:active,
  .ym-form button.ym-primary:active,
  .ym-form input[type="button"].ym-primary:active,
  .ym-form input[type="reset"].ym-primary:active,
  .ym-form input[type="submit"].ym-primary:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #66b;
    background-image: -webkit-linear-gradient(top, #8888cc, #6666aa);
    background-image: -moz-linear-gradient(top, #8888cc, #6666aa);
    background-image: -ms-linear-gradient(top, #8888cc, #6666aa);
    background-image: -o-linear-gradient(top, #8888cc, #6666aa);
    background-image: linear-gradient(to bottom, #8888cc, #6666aa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888cc', EndColorStr='#6666aa');
  }
  .ym-button.ym-primary:focus,
  .ym-form button.ym-primary:focus,
  .ym-form input[type="button"].ym-primary:focus,
  .ym-form input[type="reset"].ym-primary:focus,
  .ym-form input[type="submit"].ym-primary:focus {
    outline: 0;
    background: #88f;
  }

  /* Button color scheme: success */
  .ym-button.ym-success,
  .ym-form button.ym-success,
  .ym-form input[type="button"].ym-success,
  .ym-form input[type="reset"].ym-success,
  .ym-form input[type="submit"].ym-success {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #494;
    background-image: -webkit-linear-gradient(top, #66bb66, #449944);
    background-image: -moz-linear-gradient(top, #66bb66, #449944);
    background-image: -ms-linear-gradient(top, #66bb66, #449944);
    background-image: -o-linear-gradient(top, #66bb66, #449944);
    background-image: linear-gradient(to bottom, #66bb66, #449944);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66bb66', EndColorStr='#449944');
    border: 1px solid #007700;
    color: white !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-success:hover,
  .ym-form button.ym-success:hover,
  .ym-form input[type="button"].ym-success:hover,
  .ym-form input[type="reset"].ym-success:hover,
  .ym-form input[type="submit"].ym-success:hover {
    background-color: #5a5;
    background-image: -webkit-linear-gradient(top, #66cc66, #55aa55);
    background-image: -moz-linear-gradient(top, #66cc66, #55aa55);
    background-image: -ms-linear-gradient(top, #66cc66, #55aa55);
    background-image: -o-linear-gradient(top, #66cc66, #55aa55);
    background-image: linear-gradient(to bottom, #66cc66, #55aa55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66cc66', EndColorStr='#55aa55');
  }
  .ym-button.ym-success:active,
  .ym-form button.ym-success:active,
  .ym-form input[type="button"].ym-success:active,
  .ym-form input[type="reset"].ym-success:active,
  .ym-form input[type="submit"].ym-success:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #484;
    background-image: -webkit-linear-gradient(top, #66aa66, #448844);
    background-image: -moz-linear-gradient(top, #66aa66, #448844);
    background-image: -ms-linear-gradient(top, #66aa66, #448844);
    background-image: -o-linear-gradient(top, #66aa66, #448844);
    background-image: linear-gradient(to bottom, #66aa66, #448844);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66aa66', EndColorStr='#448844');
  }
  .ym-button.ym-success:focus,
  .ym-form button.ym-success:focus,
  .ym-form input[type="button"].ym-success:focus,
  .ym-form input[type="reset"].ym-success:focus,
  .ym-form input[type="submit"].ym-success:focus {
    outline: 0;
    background: #6c6;
  }

  /* Button color scheme: warning */
  .ym-button.ym-warning,
  .ym-form button.ym-warning,
  .ym-form input[type="button"].ym-warning,
  .ym-form input[type="reset"].ym-warning,
  .ym-form input[type="submit"].ym-warning {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #b72;
    background-image: -webkit-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -moz-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -ms-linear-gradient(top, #ddaa44, #bb7722);
    background-image: -o-linear-gradient(top, #ddaa44, #bb7722);
    background-image: linear-gradient(to bottom, #ddaa44, #bb7722);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddaa44', EndColorStr='#BB7722');
    border: 1px solid #997700;
    color: white !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-warning:hover,
  .ym-form button.ym-warning:hover,
  .ym-form input[type="button"].ym-warning:hover,
  .ym-form input[type="reset"].ym-warning:hover,
  .ym-form input[type="submit"].ym-warning:hover {
    background-color: #c83;
    background-image: -webkit-linear-gradient(top, #eebb55, #cc8833);
    background-image: -moz-linear-gradient(top, #eebb55, #cc8833);
    background-image: -ms-linear-gradient(top, #eebb55, #cc8833);
    background-image: -o-linear-gradient(top, #eebb55, #cc8833);
    background-image: linear-gradient(to bottom, #eebb55, #cc8833);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eebb55', EndColorStr='#cc8833');
  }
  .ym-button.ym-warning:active,
  .ym-form button.ym-warning:active,
  .ym-form input[type="button"].ym-warning:active,
  .ym-form input[type="reset"].ym-warning:active,
  .ym-form input[type="submit"].ym-warning:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #a62;
    background-image: -webkit-linear-gradient(top, #cc9944, #aa6622);
    background-image: -moz-linear-gradient(top, #cc9944, #aa6622);
    background-image: -ms-linear-gradient(top, #cc9944, #aa6622);
    background-image: -o-linear-gradient(top, #cc9944, #aa6622);
    background-image: linear-gradient(to bottom, #cc9944, #aa6622);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc9944', EndColorStr='#aa6622');
  }
  .ym-button.ym-warning:focus,
  .ym-form button.ym-warning:focus,
  .ym-form input[type="button"].ym-warning:focus,
  .ym-form input[type="reset"].ym-warning:focus,
  .ym-form input[type="submit"].ym-warning:focus {
    outline: 0;
    background: #da4;
  }

  /* Button color scheme: danger */
  .ym-button.ym-danger,
  .ym-form button.ym-danger,
  .ym-form input[type="button"].ym-danger,
  .ym-form input[type="reset"].ym-danger,
  .ym-form input[type="submit"].ym-danger {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #944;
    background-image: -webkit-linear-gradient(top, #bb6666, #994444);
    background-image: -moz-linear-gradient(top, #bb6666, #994444);
    background-image: -ms-linear-gradient(top, #bb6666, #994444);
    background-image: -o-linear-gradient(top, #bb6666, #994444);
    background-image: linear-gradient(to bottom, #bb6666, #994444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bb6666', EndColorStr='#994444');
    border: 1px solid #770000;
    color: white !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-danger:hover,
  .ym-form button.ym-danger:hover,
  .ym-form input[type="button"].ym-danger:hover,
  .ym-form input[type="reset"].ym-danger:hover,
  .ym-form input[type="submit"].ym-danger:hover {
    background-color: #a55;
    background-image: -webkit-linear-gradient(top, #cc6666, #aa5555);
    background-image: -moz-linear-gradient(top, #cc6666, #aa5555);
    background-image: -ms-linear-gradient(top, #cc6666, #aa5555);
    background-image: -o-linear-gradient(top, #cc6666, #aa5555);
    background-image: linear-gradient(to bottom, #cc6666, #aa5555);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc6666', EndColorStr='#aa5555');
  }
  .ym-button.ym-danger:active,
  .ym-form button.ym-danger:active,
  .ym-form input[type="button"].ym-danger:active,
  .ym-form input[type="reset"].ym-danger:active,
  .ym-form input[type="submit"].ym-danger:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: #844;
    background-image: -webkit-linear-gradient(top, #aa5555, #884444);
    background-image: -moz-linear-gradient(top, #aa5555, #884444);
    background-image: -ms-linear-gradient(top, #aa5555, #884444);
    background-image: -o-linear-gradient(top, #aa5555, #884444);
    background-image: linear-gradient(to bottom, #aa5555, #884444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aa5555', EndColorStr='#884444');
  }
  .ym-button.ym-danger:focus,
  .ym-form button.ym-danger:focus,
  .ym-form input[type="button"].ym-danger:focus,
  .ym-form input[type="reset"].ym-danger:focus,
  .ym-form input[type="submit"].ym-danger:focus {
    outline: 0;
    background: #c66;
  }

  /* pseudo elements don't work on input */
  .ym-form button:before,
  .ym-button:before {
    background: #ccc;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 0.2em;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 0.15em 0 0 0.15em;
    pointer-events: none;
  }

  .ym-add:before {
    content: "\271A";
  }

  .ym-delete:before {
    content: "\2718";
  }

  .ym-close:before {
    content: "\2715";
  }

  .ym-edit:before {
    content: "\270E";
  }

  .ym-email:before {
    content: "\2709";
  }

  .ym-like:before {
    content: "\2764";
  }

  .ym-next:before {
    content: "\279C";
  }

  .ym-play:before {
    content: "\25B6";
  }

  .ym-save:before {
    content: "\2714";
  }

  .ym-sign:before {
    content: "\270D";
  }

  .ym-spark:before {
    content: "\2737";
  }

  .ym-support:before {
    content: "\2706";
  }

  .ym-star:before {
    content: "\2605";
  }

  /* removes extra inner spacing in Firefox */
  .ym-form button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* If line-height can't be modified, then fix Firefox spacing with padding */
  .ym-form input[type=button]::-moz-focus-inner,
  .ym-form input[type=reset]::-moz-focus-inner,
  .ym-form input[type=submit]::-moz-focus-inner {
    padding: .4em;
  }

  /* The disabled styles */
  .ym-form button[disabled],
  .ym-form button[disabled]:hover,
  .ym-form input[type=button][disabled],
  .ym-form input[type=button][disabled]:hover,
  .ym-form input[type=reset][disabled],
  .ym-form input[type=reset][disabled]:hover,
  .ym-form input[type=submit][disabled],
  .ym-form input[type=submit][disabled]:hover,
  .ym-button.ym-disabled,
  .ym-button.ym-disabled:hover {
    background: #eee;
    color: #aaaaaa !important;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* ie6 support styles - redefined buttons, because of missing support for attribute selectors */
  * html .ym-button,
  * html .ym-form button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777777;
    color: #333333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 1.5em 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
  }
  * html .ym-form button:focus,
  * html .ym-button:focus {
    outline: 0;
    background: #fafafa;
  }
  * html .ym-form button:hover,
  * html .ym-button:hover {
    background-color: #ddd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
  }
  * html .ym-form button:active,
  * html .ym-button:active {
    background-color: #bbb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
    position: relative;
    top: 1px;
  }
  * html .ym-button.ym-disabled,
  * html .ym-button.ym-disabled:hover {
    background: #eee;
    color: #aaaaaa !important;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
  }
}
/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 * (en) Uniform design of standard content elements
 * (de) Einheitliche Standardformatierungen für die wichtigten Inhalts-Elemente
 */
@media all {
  /*
  * @section global typography settings
  *
  * vertical rhythm settings (based on em-unit)
  * -------------------------------------------
  * basefont-size:  14px (87.5%)
  * line-height  :  21px (factor: 1.5) */
  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
  html * {
    font-size: 100%;
  }

  /**
  * (en) reset monospaced elements to font size 16px in all browsers
  * (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
  *
  * @see: http://webkit.org/blog/67/strange-medium/
  */
  textarea,
  pre,
  code,
  kbd,
  samp,
  var,
  tt {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  body {
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
    /* font-size: 14px; */
    font-size: 87.5%;
    color: #444444;
    /* (en) Prevent auto-scaling of text in mobile webkit browsers */
    /* (de) Automatische Schriftvergrößerung in mobilen Webkit-Browsern vermeiden */
    -webkit-text-size-adjust: 100%;
  }

  /*--- Headings | Überschriften ------------------------------------------------------------------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #161e21;
    margin: 0;
  }

  h1 {
    /* font-size: 48px; */
    font-size: 342.85714%;
    line-height: 0.875;
    margin: 0.4375em 0 0;
  }

  h2 {
    /* font-size: 32px; */
    font-size: 228.57143%;
    line-height: 1.3125;
    margin: 0.65625em 0 0;
  }

  h3 {
    /* font-size: 24px; */
    font-size: 171.42857%;
    line-height: 0.875;
    margin: 0.875em 0 0;
  }

  h4 {
    /* font-size: 21px; */
    font-size: 150%;
    line-height: 1;
    margin: 1em 0 0;
  }

  h5 {
    /* font-size: 18px; */
    font-size: 128.57143%;
    line-height: 1.16667;
    margin: 1.16667em 0 0;
  }

  h6 {
    font-weight: bold;
    /* font-size: 14px; */
    font-size: 100%;
    line-height: 1.5;
    margin: 1.5em 0 0;
  }

  /* --- Lists | Listen  -------------------------------------------------------------------------------- */
  ul,
  ol,
  dl {
    font-size: 100%;
    line-height: 1.5;
    margin: 1.5em 0 1em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul ul {
    list-style-type: circle;
    margin-top: 0;
  }

  ol ol {
    list-style-type: lower-latin;
    margin-top: 0;
  }

  ol ul {
    list-style-type: circle;
    margin-top: 0;
  }

  li {
    font-size: 100%;
    line-height: 1.5;
    margin-left: 0.8em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 1.5em 0.8em;
  }

  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */
  p {
    font-size: 100%;
    line-height: 1.5;
    margin: 1.5em 0 0;
  }

  blockquote, cite, q {
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
    font-style: italic;
  }

  blockquote {
    background: transparent;
    color: #666666;
    margin: 1.5em 0 0 1.5em;
  }

  strong, b {
    font-weight: bold;
  }

  em, i {
    font-style: italic;
  }

  big {
    /* font-size: 16px; */
    font-size: 114.28571%;
    line-height: 1.3125;
  }

  small {
    /* font-size: 12px; */
    font-size: 85.71429%;
    line-height: 1.75;
  }

  pre,
  code,
  kbd,
  tt,
  samp,
  var {
    font-size: 100%;
  }

  pre {
    font-size: 100%;
    line-height: 1.5;
    margin: 1.5em 0 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  pre, code {
    color: #880000;
  }

  kbd, samp, var, tt {
    color: #666666;
    font-weight: bold;
  }

  var, dfn {
    font-style: italic;
  }

  acronym, abbr {
    border-bottom: 1px #aaaaaa dotted;
    font-variant: small-caps;
    letter-spacing: .07em;
    cursor: help;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  mark {
    background: yellow;
    color: black;
  }

  hr {
    color: #fff;
    background: transparent;
    margin: 0 0 0.75em 0;
    padding: 0 0 0.67857em 0;
    border: 0;
    border-bottom: 1px #eeeeee solid;
  }

  /*--- Links ----------------------------------------------------------------------------------------- */
  a {
    color: #4d87c7;
    background: transparent;
    text-decoration: none;
  }

  a:active {
    outline: none;
  }

  /* (en) maximum constrast for tab focus - change with great care */
  /* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
  a:hover,
  a:focus {
    background-color: #4d87c7;
    color: white;
    text-decoration: none;
  }

  /* --- images ------------------ */
  img,
  figure {
    margin: 0;
  }

  .flexible {
    margin-top: 1.5em;
    max-width: 100%;
    height: auto;
  }

  * html .flexible {
    /* IE6 support */
    width: 98%;
    /* 2% space for borders */
  }

  .bordered {
    margin-top: 1.5em;
    border: 2px #eeeeee solid;
    border: 2px white solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  }

  /**
  * ----------------------------------------------------------------------- #
  *
  * Generic Content Classes
  *
  * (en) standard classes for positioning and highlighting
  * (de) Standardklassen zur Positionierung und Hervorhebung
  *
  * @section content-generic-classes
  */
  .highlight {
    color: #cc3300;
  }

  .dimmed {
    color: #888888;
  }

  .box {
    border-radius: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-color: #888;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #444;
    color: rgba(0, 0, 0, 0.8);
    padding: 1.42857em;
    margin: 1.5em 0 0 0;
  }
  .box > *:first-child {
    margin-top: 0;
  }

  .label {
    font-family: Verdana, Geneva, sans-serif;
    padding: 1px 6px 2px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #06C;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
  }

  .info {
    background: #f4f4f4;
  }

  .success {
    background: #88cc88;
  }

  .warning {
    background: #cccc88;
  }

  .error {
    background: #cc8888;
  }

  .float-left {
    float: left;
    display: inline;
    margin: 1.5em 1em 0 0;
  }

  .float-right {
    float: right;
    display: inline;
    margin: 1.5em 0 0 1em;
  }

  .center {
    display: block;
    text-align: center;
    margin: 1.5em auto 0 auto;
  }

  /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Tables | Tabellen
  *
  * (en) Generic classes for table-width and design definition
  * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
  *
  * @section content-tables
  */
  table {
    width: 100%;
    border-collapse: collapse;
    color: #444444;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
    margin: 1.35714em 0 0 0;
  }
  table.narrow {
    margin: 1.42857em 0 0 0;
  }
  table.narrow th, table.narrow td {
    padding: 0 0.5em;
    line-height: 1.42857;
  }
  table.bordertable {
    border: 1px #cccccc solid;
  }
  table.bordertable thead th {
    background: #e0e0e0;
    border-right: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
  }
  table.bordertable tbody th[scope="row"] {
    background: #f0f0f0;
  }
  table.bordertable tbody th {
    border-right: 1px solid #cccccc;
  }
  table.bordertable tbody td {
    border-right: 1px solid #cccccc;
  }

  table caption {
    font-variant: small-caps;
  }

  th, td {
    line-height: 1.5em;
    vertical-align: top;
    padding: 0.71429em 0.5em;
  }

  th *:first-child,
  td *:first-child {
    margin-top: 0;
  }

  th.nowrap,
  td.nowrap {
    white-space: nowrap;
  }

  thead th {
    text-align: left;
    color: #000;
    border-bottom: 2px black solid;
  }

  tbody {
    /* highlight row on mouse over */
  }
  tbody th {
    text-align: left;
    border-top: 1px solid #cccccc;
    text-align: left;
  }
  tbody td {
    text-align: left;
    border-top: 1px solid #cccccc;
  }
  tbody tr:hover th,
  tbody tr:hover td {
    background: #f8f8f8;
  }
}
@media screen {
  /* force vertical scrollbar */
  body {
    overflow-y: scroll;
  }

  /* Layout Module Configuration & fallback for unsupported media queries */
  .ym-wrapper {
    min-width: 760px;
    max-width: 80em;
    margin: 0 auto;
  }

  .ym-wbox {
    padding: 10px;
  }

  /* Basic Element Styling */
  header {
    background: #444;
    color: #ccc;
    padding: 1.5em;
  }
  header h1 {
    background: transparent;
    color: #fff;
  }

  nav {
    background: #222222;
  }

  footer {
    margin: 1.5em 0 0 0;
    background: #eee;
    color: #444;
    padding: 1.5em;
  }
  footer p {
    margin: 0;
  }

  /* Column-Set Configuration: 1-3 (sidebar right) */
  .ym-column {
    display: block;
    overflow: hidden;
    padding-right: 340px;
    width: auto;
  }

  .ym-col1 {
    /* content */
    float: left;
    width: 100%;
  }

  .ym-col3 {
    /* sidebar */
    position: relative;
    float: left;
    width: 340px;
    margin-left: 0;
    margin-right: -340px;
  }

  .ym-col1 .ym-cbox {
    padding: 0 0.75em 0 1.5em;
  }

  .ym-col3 .ym-cbox {
    padding: 0 20px 0 12px;
  }

  .ym-gbox {
    padding: 0 1.5em 0 0;
  }

  /* skip links styling */
  .ym-skiplinks a.ym-skip:focus,
  .ym-skiplinks a.ym-skip:active {
    color: #fff;
    background: #333;
    border-bottom: 1px black solid;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
  }
}
/* reset fallback values in modern browsers */
@media screen and (min-width: 0px) {
  .ym-wrapper {
    min-width: 0px;
  }
}
@media screen and (max-width: 740px) {
  /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
  .linearize-level-1, .linearize-level-1 > [class*="ym-c"], .linearize-level-1 > [class*="ym-g"] {
    /* linearization for grids and columns module */
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
  .linearize-level-1 > [class*="ym-c"] > [class*="ym-cbox"], .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"] {
    /* reset defined gutter values */
    margin: 0;
    padding: 0;
    /* optional for containing floats */
    overflow: hidden;
  }

  nav .ym-hlist ul {
    padding-right: 10px;
  }

  .ym-searchform {
    display: block;
    float: none;
    width: auto;
    padding-right: 10px;
    text-align: right;
  }

  .ym-searchform input[type="search"] {
    width: 14%;
  }
}
@media screen and (max-width: 480px) {
  .ym-wbox {
    padding: 0;
  }

  header {
    padding: 0.75em 10px;
  }
  header h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
  }

  footer,
  #main,
  .ym-searchform,
  nav .ym-hlist ul {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
  .linearize-level-2, .linearize-level-2 > [class*="ym-c"], .linearize-level-2 > [class*="ym-g"] {
    /* linearization for grids and columns module */
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
  .linearize-level-2 > [class*="ym-c"] > [class*="ym-cbox"], .linearize-level-2 > [class*="ym-g"] > [class*="ym-gbox"] {
    /* reset defined gutter values */
    margin: 0;
    padding: 0;
    /* optional for containing floats */
    overflow: hidden;
  }

  .ym-searchform,
  nav .ym-hlist ul,
  nav .ym-hlist li {
    display: block;
    float: none;
    width: auto;
    text-align: left;
  }

  .ym-searchform input[type="search"] {
    width: 75%;
  }
}
@media print {
  /**
  * @section basic layout preparation
  */
  /* (en) change font size unit to [pt] - avoids problems with [px] in Gecko based browsers  	*/
  /* (de) Wechsel der der Schriftgrößen-Maßheinheit zu [pt] - Probleme mit [px] in Gecko-Browsern vermeiden */
  body {
    font-size: 10pt;
    padding: 0 5px;
  }

  /* (en) Hide unneeded container of the screenlayout in print layout */
  /* (de) Für den Druck nicht benötigte Container des Layouts abschalten */
  nav,
  .ym-searchform {
    display: none;
  }

  /*------------------------------------------------------------------------------------------------------*/
  /* (en) Avoid page breaks right after headings */
  /* (de) Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}
