
@media print {
  /**
  * @section basic layout preparation
  */
  /* (en) change font size unit to [pt] - avoids problems with [px] in Gecko based browsers  	*/
  /* (de) Wechsel der der Schriftgrößen-Maßheinheit zu [pt] - Probleme mit [px] in Gecko-Browsern vermeiden */
  body {
    font-size: 10pt;
    padding: 0 5px;
  }

  /* (en) Hide unneeded container of the screenlayout in print layout */
  /* (de) Für den Druck nicht benötigte Container des Layouts abschalten */
  nav,
  searchform {
    display: none;
  }

  /*------------------------------------------------------------------------------------------------------*/
  /* (en) Avoid page breaks right after headings */
  /* (de) Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}
