//
// CSS3 Mixins
//

// BOX SIZING
@mixin ym-box-sizing($type: border-box) {
	-webkit-box-sizing:	$type;
	-moz-box-sizing:	$type;
	box-sizing:			$type;
}

// BOX SHADOW
@mixin ym-box-shadow($x: 1px, $y: 1px, $blur: 5px, $color: rgba(0,0,0,.5), $inset: false) {

	@if $inset{
    -webkit-box-shadow: $inset $x $y $blur $color;
    		box-shadow: $inset $x $y $blur $color;
	}
	@else {
    -webkit-box-shadow: $x $y $blur $color;
    		box-shadow: $x $y $blur $color;
	}
}

//
// Progessive Linearization
//
@mixin ym-linearize-grids {
	&,
	& > [class*="ym-g"] {
		/* linearization for grid module */
		display: block;
		float: none;
		padding: 0;
		margin: 0;
		width: 100% !important;
	}

	& > [class*="ym-g"] > [class*="ym-gbox"] {
		/* reset defined gutter values */
		margin: 0;
		padding: 0;
		/* optional for containing floats */
		overflow: hidden;
	}
}

@mixin ym-linearize-columns {
	&,
	& > [class*="ym-c"] {
		/* linearization for column module */
		display: block;
		float: none;
		padding: 0;
		margin: 0;
		width: 100% !important;
	}

	& > [class*="ym-c"] > [class*="ym-cbox"] {
		/* reset defined gutter values */
		margin: 0;
		padding: 0;
		/* optional for containing floats */
		overflow: hidden;
	}
}

@mixin ym-linearize-grids-and-columns {
	&,
	& > [class*="ym-c"],
	& > [class*="ym-g"] {
		/* linearization for grids and columns module */
		display: block;
		float: none;
		padding: 0;
		margin: 0;
		width: 100% !important;
	}

	& > [class*="ym-c"] > [class*="ym-cbox"],
	& > [class*="ym-g"] > [class*="ym-gbox"] {
		/* reset defined gutter values */
		margin: 0;
		padding: 0;
		/* optional for containing floats */
		overflow: hidden;
	}
}

@mixin ym-linearize-forms {
	// linearization form micro grid
	& .ym-fbox-grid,
	& .ym-fbox-grid [class*="ym-g"] {
		width:100% !important;
		margin:0 !important;
	}

	// linearization for form module
	& [class*="ym-fbox"]:not([class*="ym-type-check"]) label,
	& .ym-label,
	& .ym-message,
	& input[type="text"],
	& textarea,
	& select {
		display: block;
		float: none;
		position: static;
		width:98% !important;
		margin:0 !important;
	}

	// reset columnar settings
	& .ym-message,
	& .ym-fbox-check input {
		margin-left: 0 !important;
	}
}

//
// Tools
//
@mixin ym-clearfix {
	&:before {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
		content:".";
		display:block;
		font-size:0;
		height:0;
		visibility:hidden;
	}

	// IE < 8
	zoom: 1;
}

// CONTAINING FLOATS
@mixin ym-contain($type: dt) {

	@if $type == oh {
		display: block;
		overflow: hidden;
		width: 100%;
	}

	@if $type == fl {
		float: left;
		width: 100%;
	}

	@if $type == dt {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
}

//
// YAML4 Custom Grid Generator
// Generates CSS for custom grids, based on YAMLs grid-module
//
@mixin ym-custom-grid($prefix, $columns, $width, $margin-left, $margin-right) {

	$column_width	: $width / $columns;

	.ym-wrapper {
		width: $width;
		margin: 0 auto;
	}
	.ym-gbox {
		padding-left: 0;
		padding-right: 0;
		margin-left: $margin-left;
		margin-right: $margin-right;
	}
	[class*="ym-push-"],
	[class*="ym-pull-"] { position:relative; }

	@for $i from 1 through $columns {
		.ym-#{$prefix}-#{$i} { width: $column_width * $i; }
	}

	@for $i from 1 through $columns - 1 {
		.ym-push-#{$i} { left: $column_width * $i; }
	}

	@for $i from 1 through $columns - 1 {
		.ym-pull-#{$i} { left: -$column_width * $i; }
	}
}