
/**
 *  "Yet Another Multicolumn Layout" - YAML CSS Framework
 *  (en) YAML core stylesheet
 *  (de) YAML Basis-Stylesheet
*/
@media all {
  /*
   *  @section Normalisation Module
   */
  * {
    margin: 0;
    padding: 0;
  }

  option {
    padding-left: 0.4em;
  }

  select {
    padding: 1px;
  }

  * html body * {
    overflow: visible;
  }

  body {
    font-size: 100%;
    background: #fff;
    color: #000;
    text-align: left;
  }

  div:target {
    outline: 0 none;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, main, nav, section {
    display: block;
  }

  audio,
  canvas,
  video {
    display: inline-block;
  }

  audio:not([controls]) {
    display: none;
  }

  [hidden] {
    display: none;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
  }

  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  fieldset, img {
    border: 0 solid;
  }

  ul, ol, dl {
    margin: 0 0 1em 1em;
  }

  li {
    line-height: 1.5em;
    margin-left: 0.8em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 1em 0.8em;
  }

  blockquote {
    margin: 0 0 1em 0.8em;
  }

  q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /**
  * @section Float Handling Module
  */
  clearfix:before {
    content: "";
    display: table;
  }

  clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }

  contain-dt {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  contain-oh {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  contain-fl {
    float: left;
    width: 100%;
  }

  /**
  * @section Column Module
  */
  column {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  col1 {
    float: left;
    width: 20%;
  }

  col2 {
    float: right;
    width: 20%;
  }

  col3 {
    width: auto;
    margin: 0 20%;
  }

  cbox {
    padding: 0 10px;
  }

  cbox-left {
    padding: 0 10px 0 0;
  }

  cbox-right {
    padding: 0 0 0 10px;
  }

  ie-clearing {
    display: none;
  }

  /**
  * @section Grid Module
  */
  grid {
    display: table;
    table-layout: fixed;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  gl {
    float: left;
    margin: 0;
  }

  gr {
    float: right;
    margin: 0 0 0 -5px;
  }

  g20 {
    width: 20%;
  }

  g40 {
    width: 40%;
  }

  g60 {
    width: 60%;
  }

  g80 {
    width: 80%;
  }

  g25 {
    width: 25%;
  }

  g33 {
    width: 33.333%;
  }

  g50 {
    width: 50%;
  }

  g66 {
    width: 66.666%;
  }

  g75 {
    width: 75%;
  }

  g38 {
    width: 38.2%;
  }

  g62 {
    width: 61.8%;
  }

  gbox {
    padding: 0 10px;
  }

  gbox-left {
    padding: 0 10px 0 0;
  }

  gbox-right {
    padding: 0 0 0 10px;
  }

  equalize {
    overflow: hidden;
  }

  equalize > [class*=g"] {
    display: table-cell;
    float: none;
    margin: 0;
    vertical-align: top;
  }

  equalize > [class*=g"] > [class*=gbox"] {
    padding-bottom: 10000px;
    margin-bottom: -10000px;
  }

  /**
  * @section Form Module
  */
  form,
  form fieldset {
    overflow: hidden;
  }

  form div {
    position: relative;
  }
  form label,
  form label,
  form message {
    position: relative;
    line-height: 1.5;
    display: block;
  }
  form type-check label {
    display: inline;
  }
  form input,
  form textarea {
    cursor: text;
  }
  form input[type="checkbox"],
  form input[type="radio"],
  form select,
  form label {
    cursor: pointer;
  }
  form textarea {
    overflow: auto;
  }
  form input[type=hidden] {
    display: none !important;
  }
  form fbox:before {
    content: "";
    display: table;
  }
  form fbox:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  form select,
  form input,
  form textarea {
    display: block;
    position: relative;
    width: 65%;
    padding-left: 1%;
    padding-right: 1%;
  }
  form type-check input {
    display: inline;
    width: auto;
  }
  form type-button input {
    display: inline;
    overflow: visible;
    width: auto;
  }
  form type-check input:focus,
  form type-check input:hover,
  form type-check input:active {
    border: 0 none;
  }
  form fbox-grid {
    overflow: hidden;
    width: 70%;
  }
  form fbox-grid type-text input,
  form fbox-grid type-text textarea,
  form fbox-grid type-select select {
    width: 96%;
    margin-left: 0;
  }
  form fbox-grid type-check input {
    width: auto;
    margin-left: 0;
  }
  form g20,
  form g40,
  form g60,
  form g80,
  form g25,
  form g33,
  form g50,
  form g66,
  form g75,
  form g38,
  form g62 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0 !important;
    margin-right: 2% !important;
  }
  form g20 {
    width: 18% !important;
  }
  form g40 {
    width: 38% !important;
  }
  form g60 {
    width: 58% !important;
  }
  form g80 {
    width: 78% !important;
  }
  form g25 {
    width: 23% !important;
  }
  form g33 {
    width: 31.333% !important;
  }
  form g50 {
    width: 48% !important;
  }
  form g66 {
    width: 64.666% !important;
  }
  form g75 {
    width: 73% !important;
  }
  form g38 {
    width: 36.2% !important;
  }
  form g62 {
    width: 59.8% !important;
  }

  full type-select select,
  full type-text input,
  full type-text textarea {
    width: 94%;
    margin-right: -3px;
  }
  full fbox-grid {
    width: 100%;
  }

  columnar label,
  columnar type-text label,
  columnar type-select label {
    display: inline;
    float: left;
    width: 30%;
    z-index: 1;
  }
  columnar type-select select,
  columnar type-text input,
  columnar type-text textarea {
    float: left;
    margin-right: -3px;
  }
  columnar type-check {
    position: relative;
  }
  columnar type-check label {
    line-height: 1.0;
  }
  columnar type-check input,
  columnar error message {
    margin-left: 30%;
  }
  columnar fbox-grid {
    margin-left: 30%;
    margin-right: -3px;
  }
  columnar fbox-grid type-text label,
  columnar fbox-grid type-select label {
    display: block;
    float: none;
    width: auto;
    z-index: 1;
    margin-left: 0;
  }
  columnar fbox-grid type-check label,
  columnar fbox-grid type-check input {
    margin-left: 0;
  }
  columnar fbox-wrap {
    margin-left: 30%;
  }
  columnar fbox-wrap label,
  columnar fbox-wrap input {
    margin-left: 0;
  }

  fbox-grid + fbox-grid {
    margin-top: 0.5em;
  }

  columnar fieldset type-button,
  fieldsetcolumnar type-button {
    padding-left: 30%;
  }

  type-select select {
    width: 67%;
  }

  full type-select select {
    width: 96%;
  }

  /**
  * @section Accessibility Module
  */
  skip,
  hideme,
  print {
    position: absolute;
    top: -32768px;
    left: -32768px;
  }

  skip:focus,
  skip:active {
    position: static;
    top: 0;
    left: 0;
  }

  skiplinks {
    position: absolute;
    top: 0px;
    left: -32768px;
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  skiplinks skip:focus,
  skiplinks skip:active {
    left: 32768px;
    outline: 0 none;
    position: absolute;
    width: 100%;
  }
}
@media print {
  /**
  * @section print adjustments for core modules
  *
  * (en) float clearing for subtemplates. Uses display:table to avoid bugs in FF & IE
  * (de) Float Clearing für die Subtemplates. Verwendet display:table, um Darstellungsprobleme im FF & IE zu vermeiden
  */
  grid > gl,
  grid > gr {
    overflow: visible;
    display: table;
  }

  print {
    position: static;
    left: 0;
  }

  noprint {
    display: none !important;
  }
}
