@if $ym-base-forms == true {
	/**
	* @section Form Module
	*/

	// Vertical-Forms - technical base (standard)
	//
	// |-------------------------------|
	// | form                          |
	// |-------------------------------|
	// |   label                       |
	// |   input / select / textarea   |
	// |-------------------------------|
	// | /form                         |
	// |-------------------------------|
	//
	// (en) Styling of forms where both label and input/select/textarea are styled with display:block;
	// (de) Formulargestaltung, bei der sowohl label als auch input/select/textarea mit display:block; gestaltet werden

	.ym-form,
	.ym-form fieldset { overflow:hidden; }

	.ym-form {
		div { position:relative; }

		label,
		.ym-message {
			position:relative;
			display:block; //important for Safari
		}

		.ym-fbox-check label {
			display:inline;
		}

		input,
		textarea { cursor:text; }

		input[type="checkbox"],
		input[type="radio"],
		select,
		label {
			cursor:pointer;
		}

		// small adjustments for Internet Explorer - all versions
		textarea { overflow: auto; }

		// Hiding of hidden fields (otherwise ugly spaces in Firefox)
		// Versteckte Felder wirklich verstecken (sonst ggf. häßliche Lücken im Firefox)
		input[type=hidden] { display:none !important; }

		// styling containing DIV elements
		// Gestaltung der kapselnden DIV-Elemente
		.ym-fbox-button:before,
		.ym-fbox-check:before,
		.ym-fbox-select:before,
		.ym-fbox-text:before {
			content:"";
			display:table;
		}

		.ym-fbox-button:after,
		.ym-fbox-check:after,
		.ym-fbox-select:after,
		.ym-fbox-text:after {
			clear:both;
			content:".";
			display:block;
			font-size:0;
			height:0;
			visibility:hidden;
		}

		// styling standard form elements with 'almost' equal flexible width
		// Gestaltung der einzelnen Formularelemente mit annähend gleicher Breite
		select,
		input,
		textarea {
			display:block;
			position:relative;
			width:56%;
			padding-left: 1%;
			padding-right: 1%;
		}

		.ym-fbox-check input {
			display: inline;
			width: auto;
		}

		// Styling of buttons
		// Gestaltung von Buttons
		.ym-fbox-button input {
			display: inline;
			overflow:visible;  // Fixes IE7 auto-padding bug
			width:auto;
		}

		// avoid jumping checkboxes & radiobuttons in IE8
		.ym-fbox-check input:focus,
		.ym-fbox-check input:hover,
		.ym-fbox-check input:active {
			border:0 none;
		}


		// micro-grid for form elements
		// Checkboxen um den gleichen Wert einrücken, wie die Breite der labels
		.ym-fbox-grid {
			overflow:hidden;
			width: 60%;

			.ym-fbox-text input,
			.ym-fbox-text textarea,
			.ym-fbox-select select {
				width: 96%;
				margin-left: 0;
			}
			.ym-fbox-check input {
				display: inline;
				width: auto;
			}
		}

		// redefine grid-classes for usage within forms module
		.ym-g20,
		.ym-g40,
		.ym-g60,
		.ym-g80,
		.ym-g25,
		.ym-g33,
		.ym-g50,
		.ym-g66,
		.ym-g75,
		.ym-g38,
		.ym-g62 {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			float: left;
			margin-left: 0 !important;
			margin-right: 2% !important;
		}

		.ym-g20 { width:18% !important; }
		.ym-g40 { width:38% !important; }
		.ym-g60 { width:58% !important; }
		.ym-g80 { width:78% !important; }
		.ym-g25 { width:23% !important; }
		.ym-g33 { width:31.333% !important; }
		.ym-g50 { width:48% !important; }
		.ym-g66 { width:64.666% !important; }
		.ym-g75 { width:73% !important; }
		.ym-g38 { width:36.2% !important; }
		.ym-g62 { width:59.8% !important; }
	}


	// Indent Checkbox fields to match label-width
	// Checkboxen um den gleichen Wert einrücken, wie die Breite der labels
	.ym-full {
		.ym-fbox-select select,
		.ym-fbox-text input,
		.ym-fbox-text textarea {
			width:94%;
			margin-right: -3px;
		}

		.ym-fbox-grid {
			width: 100%;
		}
	}

	//  Columnar forms display - technical base (optional)
	//
	//  |-------------------------------------------|
	//  | form                                      |
	//  |-------------------------------------------|
	//  |                                           |
	//  |   label   |   input / select / textarea   |
	//  |                                           |
	//  |-------------------------------------------|
	//  | /form                                     |
	//  |-------------------------------------------|
	//
	//  (en) Styling of forms where label floats left of form-elements
	//  (de) Formulargestaltung, bei der die label-Elemente nach links fließen

	.ym-columnar {
		// Columnar display
		// Spalten-Darstellung
		.ym-fbox-text label,
		.ym-fbox-select label {
			display:inline;
			float:left;
			width:30%; // Can be fixed width too | Kann auch eine fixe Angabe sein
			z-index: 1;
		}

		.ym-fbox-select select,
		.ym-fbox-text input,
		.ym-fbox-text textarea {
			float:left;
			width:65%;
			margin-right: -3px;
		}

		.ym-label {
			position:absolute;
			top:0;
		}

		.ym-fbox-check {
			position:relative;
			.ym-label {
				line-height: 1.0;
			}
		}

		// Indent Checkbox fields to match label-width
		// Checkboxen um den gleichen Wert einrücken, wie die Breite der labels
		.ym-fbox-check input,
		.ym-error .ym-message {
			margin-left:30%;
		}

		.ym-fbox-grid {
			margin-left:30%;
			width: 70%;
			margin-right: -3px;
		}

		.ym-fbox-grid label {
			display:block;
			float:none;
			width:auto;
			z-index: 1;
		}
	}

	.ym-label {
		display:block;
		line-height: 1.5;
	}

	// global and local columnar settings for button alignment
	.ym-columnar fieldset .ym-fbox-button,
	fieldset.ym-columnar .ym-fbox-button {
		padding-left:30%;
	}

	// @section Form Construction Kit | Screen Adjustments
	.ym-fbox-select select { width:58%; }
	.ym-full .ym-fbox-select select { width:96%; }
	.ym-columnar .ym-fbox-select select { width:67%; }

   /**
	* Inline forms display - technical base (optional)
	*/

	.ym-form {
		&.ym-inline .ym-fbox-select select,
		&.ym-form.ym-inline .ym-fbox-text input,
		.ym-fbox-select.ym-inline select,
		.ym-fbox-text.ym-inline input {
			width: auto !important;
			display: inline;
			float: none;
			margin: 0 0.25em 0 0;
			line-height: 1.5;
		}
	}
}
