@charset "UTF-8";

/* Google Font API */
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700|Droid+Sans:700");

/* YAML Framework Components */
@import "yaml/yaml_globals",
		"yaml/mixins/yaml_mixins_core",

		"yaml/core/base",
		"yaml/add-ons/rtl-support/core/base-rtl",
		"yaml/navigation/hlist",
		"yaml/add-ons/rtl-support/navigation/hlist-rtl",
		"yaml/forms/gray-theme",
		"yaml/screen/screen-PAGE-layout",
		"yaml/screen/typography",
		"yaml/add-ons/rtl-support/screen/typography-rtl",
		"yaml/print/print";
