@if $ym-base-accessibility == true {
	/**
	* @section Accessibility Module
	*/
	// (en) skip links and hidden content
	// (de) Skip-Links und versteckte Inhalte


	// (en) classes for invisible elements in the base layout
	// (de) Klassen für unsichtbare Elemente im Basislayout
	.#{$yaml-prefix}skip,
	.#{$yaml-prefix}hideme,
	.#{$yaml-prefix}print {
		position:absolute;
		top:-32768px;
		left:-32768px; // LTR
	}

	// (en) make skip links visible when using tab navigation
	// (de) Skip-Links für Tab-Navigation sichtbar schalten
	.#{$yaml-prefix}skip:focus,
	.#{$yaml-prefix}skip:active {
		position:static;
		top:0;
		left:0;
	}

	// skiplinks:technical setup
	.#{$yaml-prefix}skiplinks {
		position:absolute;
		top:0px;
		left:-32768px;
		z-index:1000;
		width:100%;
		margin:0;
		padding:0;
		list-style-type:none;

		.#{$yaml-prefix}skip:focus,
		.#{$yaml-prefix}skip:active {
			left:32768px;
			outline:0 none;
			position:absolute;
			width:100%;
		}
	}
}
