@import "../../../yaml-var-globals";

@media all
{
	/**
	* (en) Workaround disappearing list elements on hover
	* (de) Workaround verhindert das Verschwinden der Listenelemente beim Hovern
	*
	* @workaround
	* @affected   IE 5.x/Win, IE6, IE7
	* @css-for    IE 5.x/Win, IE6, IE7
	* @valid      yes
	*/

	.ym-hlist {
		* { direction:ltr !important; }

		a,
		strong { direction:rtl !important; }

	  	ul {
			position:relative;
			float:right;
			// (en) Left margin of the first button
			// (de) Abstand des ersten Buttons vom linken Rand
			margin-left: 0; // Reset LTR
		}

		ul li {
			float: right;
			text-align:right !important;
		}
	}

	.ym-searchform {
		float:left;
		display: inline;
		line-height: 2em;
		padding: 0.5em 1.5em;
	}
}