@charset "UTF-8";
/* Google Font API */
/* YAML Framework Components */
/**
 *  "Yet Another Multicolumn Layout" - YAML CSS Framework
 *  (en) YAML core stylesheet
 *  (de) YAML Basis-Stylesheet
*/
@media all {
  /*
   *  @section Normalisation Module
   */
  * {
    margin: 0;
    padding: 0;
  }

  option {
    padding-left: 0.4em;
  }

  select {
    padding: 1px;
  }

  * html body * {
    overflow: visible;
  }

  body {
    font-size: 100%;
    background: #fff;
    color: #000;
    text-align: left;
  }

  div:target {
    outline: 0 none;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, nav, section {
    display: block;
  }

  audio,
  canvas,
  video {
    display: inline-block;
  }

  audio:not([controls]) {
    display: none;
  }

  [hidden] {
    display: none;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
  }

  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  fieldset, img {
    border: 0 solid;
  }

  ul, ol, dl {
    margin: 0 0 1em 1em;
  }

  li {
    line-height: 1.5em;
    margin-left: 0.8em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 1em 0.8em;
  }

  blockquote {
    margin: 0 0 1em 0.8em;
  }

  q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /**
  * @section Float Handling Module
  */
  .ym-clearfix:before {
    content: "";
    display: table;
  }

  .ym-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }

  .ym-contain-dt {
    display: table;
    width: 100%;
    overflow: visible;
  }

  .ym-contain-oh {
    overflow: hidden;
    width: 100%;
    display: block;
  }

  .ym-contain-fl {
    float: left;
    width: 100%;
  }

  /**
  * @section Column Module
  */
  .ym-column {
    display: table;
    width: 100%;
  }

  .ym-col1 {
    float: left;
    width: 20%;
  }

  .ym-col2 {
    float: right;
    width: 20%;
  }

  .ym-col3 {
    width: auto;
    margin: 0 20%;
  }

  .ym-cbox {
    padding: 0 10px;
  }

  .ym-cbox-left {
    padding: 0 10px 0 0;
  }

  .ym-cbox-right {
    padding: 0 0 0 10px;
  }

  .ym-ie-clearing {
    display: none;
  }

  /**
  * @section Grid Module
  */
  .ym-grid {
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .ym-gl {
    float: left;
    margin: 0;
  }

  .ym-gr {
    float: right;
    margin: 0 0 0 -5px;
  }

  .ym-g20 {
    width: 20%;
  }

  .ym-g40 {
    width: 40%;
  }

  .ym-g60 {
    width: 60%;
  }

  .ym-g80 {
    width: 80%;
  }

  .ym-g25 {
    width: 25%;
  }

  .ym-g33 {
    width: 33.333%;
  }

  .ym-g50 {
    width: 50%;
  }

  .ym-g66 {
    width: 66.666%;
  }

  .ym-g75 {
    width: 75%;
  }

  .ym-g38 {
    width: 38.2%;
  }

  .ym-g62 {
    width: 61.8%;
  }

  .ym-gbox {
    padding: 0 10px;
  }

  .ym-gbox-left {
    padding: 0 10px 0 0;
  }

  .ym-gbox-right {
    padding: 0 0 0 10px;
  }

  .ym-equalize {
    overflow: hidden;
  }

  .ym-equalize > [class*="ym-g"] {
    display: table-cell;
    float: none;
    margin: 0;
    vertical-align: top;
  }

  .ym-equalize > [class*="ym-g"] > [class*="ym-gbox"] {
    padding-bottom: 10000px;
    margin-bottom: -10000px;
  }

  /**
  * @section Form Module
  */
  .ym-form,
  .ym-form fieldset {
    overflow: hidden;
  }

  .ym-form div {
    position: relative;
  }
  .ym-form label,
  .ym-form .ym-message {
    position: relative;
    display: block;
  }
  .ym-form .ym-fbox-check label {
    display: inline;
  }
  .ym-form input,
  .ym-form textarea {
    cursor: text;
  }
  .ym-form input[type="checkbox"],
  .ym-form input[type="radio"],
  .ym-form select,
  .ym-form label {
    cursor: pointer;
  }
  .ym-form textarea {
    overflow: auto;
  }
  .ym-form input[type=hidden] {
    display: none !important;
  }
  .ym-form .ym-fbox-text:before,
  .ym-form .ym-fbox-select:before,
  .ym-form .ym-fbox-check:before,
  .ym-form .ym-fbox-button:before {
    content: "";
    display: table;
  }
  .ym-form .ym-fbox-text:after,
  .ym-form .ym-fbox-select:after,
  .ym-form .ym-fbox-check:after,
  .ym-form .ym-fbox-button:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .ym-form select,
  .ym-form input,
  .ym-form textarea {
    display: block;
    position: relative;
    width: 58.5%;
  }
  .ym-form .ym-fbox-check input {
    display: inline;
    width: auto;
  }
  .ym-form .ym-fbox-button input {
    display: inline;
    overflow: visible;
    width: auto;
  }
  .ym-form .ym-fbox-check input:focus,
  .ym-form .ym-fbox-check input:hover,
  .ym-form .ym-fbox-check input:active {
    border: 0 none;
  }

  .ym-full .ym-fbox-select select,
  .ym-full .ym-fbox-text input,
  .ym-full .ym-fbox-text textarea {
    width: 94.2%;
    margin-right: -3px;
  }

  .ym-columnar .ym-fbox-text label,
  .ym-columnar .ym-fbox-select label {
    display: inline;
    float: left;
    width: 30%;
  }
  .ym-columnar .ym-fbox-select select,
  .ym-columnar .ym-fbox-text input,
  .ym-columnar .ym-fbox-text textarea {
    float: left;
    width: 67.2%;
    margin-right: -3px;
  }
  .ym-columnar .ym-fbox-check {
    position: relative;
  }
  .ym-columnar .ym-fbox-check .ym-label {
    position: absolute;
    top: 0;
  }
  .ym-columnar .ym-fbox-check input,
  .ym-columnar .ym-error .ym-message {
    margin-left: 30%;
  }

  .ym-label {
    display: block;
  }

  .ym-columnar fieldset .ym-fbox-button,
  fieldset.ym-columnar .ym-fbox-button {
    padding-left: 30%;
  }

  .ym-fbox-select select {
    width: 60%;
  }

  .ym-full .ym-fbox-select select {
    width: 94.8%;
  }

  .ym-columnar .ym-fbox-select select {
    width: 68.8%;
  }

  /**
  * @section Accessibility Module
  */
  .ym-skip,
  .ym-hideme,
  .ym-print {
    position: absolute;
    top: -32768px;
    left: -32768px;
  }

  .ym-skip:focus,
  .ym-skip:active {
    position: static;
    top: 0;
    left: 0;
  }

  .ym-skiplinks {
    position: absolute;
    top: 0px;
    left: -32768px;
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .ym-skiplinks .ym-skip:focus,
  .ym-skiplinks .ym-skip:active {
    left: 32768px;
    outline: 0 none;
    position: absolute;
    width: 100%;
  }
}
@media print {
  /**
  * @section print adjustments for core modules
  *
  * (en) float clearing for subtemplates. Uses display:table to avoid bugs in FF & IE
  * (de) Float Clearing für die Subtemplates. Verwendet display:table, um Darstellungsprobleme im FF & IE zu vermeiden
  */
  .ym-grid > .ym-gl,
  .ym-grid > .ym-gr {
    overflow: visible;
    display: table;
  }

  .ym-print {
    position: static;
    left: 0;
  }

  .ym-noprint {
    display: none !important;
  }
}
/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * (en) Vertical list navigation "vlist"
 * (de) Vertikale Navigationsliste "vlist"
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         v4.0.1
 * @revision        $Revision: 724 $
 * @lastmodified    $Date: 2012-03-03 11:45:41 +0100 (Sat, 03 Mar 2012) $
 */
@media all {
  /* title */
  .ym-vtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100%;
    width: 90%;
    padding: 3px 0px 3px 10%;
    /* LTR */
    margin: 0;
    color: #444;
    background-color: #fff;
    border-top: 2px #ddd solid;
  }
  .ym-vtitle + ul {
    border-top: 4px #888 solid;
  }

  .ym-vlist {
    margin: 0 0 1.5em 0;
    list-style-type: none;
    background: transparent;
    border: 0 none;
    /* active list element */
    /* Level 1 */
    /* Level 2 */
    /* Level 3 */
    /* Level 4 */
  }
  .ym-vlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    border-top: 2px #ddd solid;
    border-bottom: 2px #ddd solid;
  }
  .ym-vlist ul ul {
    border: 0 none;
  }
  .ym-vlist li {
    float: left;
    /* LTR */
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  .ym-vlist a,
  .ym-vlist strong,
  .ym-vlist span {
    display: block;
    padding: 3px 0px 3px 10%;
    text-decoration: none;
    border-bottom: 1px #ddd solid;
  }
  .ym-vlist a,
  .ym-vlist a:visited {
    color: #444;
  }
  .ym-vlist li span {
    display: block;
    font-weight: bold;
    border-bottom: 1px #ddd solid;
  }
  .ym-vlist li.active {
    color: #fff;
    background-color: #444;
  }
  .ym-vlist li.active strong {
    font-weight: bold;
  }
  .ym-vlist li {
    /* LTR */
  }
  .ym-vlist li a,
  .ym-vlist li strong,
  .ym-vlist li span {
    width: 90%;
    padding-left: 10%;
  }
  .ym-vlist li a:focus,
  .ym-vlist li a:hover,
  .ym-vlist li a:active {
    background-color: #888;
    color: #fff;
    outline: 0 none;
  }
  .ym-vlist li ul li {
    /* LTR */
  }
  .ym-vlist li ul li a,
  .ym-vlist li ul li strong,
  .ym-vlist li ul li span {
    width: 80%;
    padding-left: 20%;
  }
  .ym-vlist li ul li a,
  .ym-vlist li ul li a:visited {
    background-color: #f8f8f8;
    color: #333;
  }
  .ym-vlist li ul li a:focus,
  .ym-vlist li ul li a:hover,
  .ym-vlist li ul li a:active {
    background-color: #888;
    color: #fff;
  }
  .ym-vlist li ul li ul li {
    /* LTR */
  }
  .ym-vlist li ul li ul li a,
  .ym-vlist li ul li ul li strong,
  .ym-vlist li ul li ul li span {
    width: 70%;
    padding-left: 30%;
  }
  .ym-vlist li ul li ul li a,
  .ym-vlist li ul li ul li a:visited {
    background-color: #f0f0f0;
    color: #222;
  }
  .ym-vlist li ul li ul li a:focus,
  .ym-vlist li ul li ul li a:hover,
  .ym-vlist li ul li ul li a:active {
    background-color: #888;
    color: #fff;
  }
  .ym-vlist li ul li ul li ul li {
    /* LTR */
  }
  .ym-vlist li ul li ul li ul li a,
  .ym-vlist li ul li ul li ul li strong,
  .ym-vlist li ul li ul li ul li span {
    width: 60%;
    padding-left: 40%;
  }
  .ym-vlist li ul li ul li ul li a,
  .ym-vlist li ul li ul li ul li a:visited {
    background-color: #e8e8e8;
    color: #111;
  }
  .ym-vlist li ul li ul li ul li a:focus,
  .ym-vlist li ul li ul li ul li a:hover,
  .ym-vlist li ul li ul li ul li a:active {
    background-color: #888;
    color: #fff;
  }
}
@media all {
  .ym-hlist {
    width: 100%;
    overflow: hidden;
    position: relative;
    line-height: 1em;
    background: #222;
    border-bottom: 4px #f00 solid;
  }
  .ym-hlist ul {
    margin: 0;
    padding: 0.5em 1.5em;
    display: inline;
    float: left;
  }
  .ym-hlist ul li {
    display: inline;
    float: left;
    font-size: 1.0em;
    line-height: 1;
    list-style-type: none;
    margin: 0 .25em 0 0;
    padding: 0;
  }
  .ym-hlist ul li a, .ym-hlist ul li strong {
    background: transparent;
    color: #aaa;
    display: block;
    font-size: 1em;
    line-height: 2em;
    padding: 0 0.5em;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    width: auto;
  }
  .ym-hlist ul li a:focus, .ym-hlist ul li a:hover, .ym-hlist ul li a:active {
    color: #ccc;
    background: #666;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0.2em;
    text-decoration: none;
    outline: 0 none;
  }
  .ym-hlist ul li.active {
    background: #666;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.2em;
    color: #fff;
  }
  .ym-hlist ul li.active strong, .ym-hlist ul li.active a:focus, .ym-hlist ul li.active a:hover, .ym-hlist ul li.active a:active {
    background: transparent;
    color: #fff;
    text-decoration: none;
  }

  .ym-searchform {
    float: right;
    display: inline;
    line-height: 2;
    padding: 0.5em 1.5em;
  }
  .ym-searchform .ym-searchfield {
    background: #fff;
    line-height: 1;
    padding: 0.25em;
    width: 12em;
    border: solid 1px #888;
    border: solid 1px rgba(255, 255, 255, 0.1);
    outline: none;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .ym-searchform .ym-searchbutton {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    padding: 0.25em;
    border: solid 1px transparent;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: .2em;
    background: #5f5f5f;
    background: rgba(255, 255, 255, 0.2);
  }
}
/**
 * YAML form theme: "gray-theme"
 */
@media screen and (min-width: 0px) {
  /**
  * @section general width settings for formular elements in modern browsers
  *          switching to CSS3 box modell "border-box" for perfect flexible forms
  *
  * Styling for: <labels>, <input>, <textarea> and <select>
  *
  */
  .ym-form input,
  .ym-form textarea,
  .ym-form select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
  }

  .ym-columnar label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .ym-columnar .ym-fbox-select select input,
  .ym-columnar .ym-fbox-select select textarea,
  .ym-columnar .ym-fbox-text input,
  .ym-columnar .ym-fbox-text textarea {
    width: 70%;
  }

  .ym-full .ym-fbox-select select input,
  .ym-full .ym-fbox-select select textarea,
  .ym-full .ym-fbox-text input,
  .ym-full .ym-fbox-text textarea {
    width: 100%;
  }
}
@media screen, projection {
  .ym-form {
    background: #f4f4f4;
    border: 2px #fff solid;
    margin: 1.5em 0 0 0;
    padding: 0;
    -webkit-box-shadow: 0 0 4px #ddd;
    -moz-box-shadow: 0 0 4px #ddd;
    box-shadow: 0 0 4px #ddd;
  }
  .ym-form fieldset {
    position: static;
    background: transparent;
    margin: 0.75em 0 0.75em 0;
    padding: 0 0.5em;
  }
  .ym-form legend {
    background: transparent;
    color: #000;
    font-size: 1.2em;
    line-height: 1.25em;
    font-weight: bold;
    padding: 0 0.5em;
  }
  .ym-form label {
    color: #666;
    line-height: 1.5;
  }
  .ym-form .ym-label {
    color: #666;
    padding-top: 0.25em;
  }
  .ym-form div.ym-fbox-text,
  .ym-form div.ym-fbox-select,
  .ym-form div.ym-fbox-check,
  .ym-form div.ym-fbox-button {
    padding: 0.3em 1em;
    margin-bottom: 0.5em;
  }
  .ym-form div.ym-fbox-button {
    background: #ececec;
    border-top: 1px #e0e0e0 solid;
    padding: 0 1em 1.5em 1em;
    margin: 0;
    text-align: right;
  }
  .ym-form .ym-gbox {
    padding: 0 0.5em;
    margin-right: 0;
  }
  .ym-form h3 {
    font-size: 100%;
    color: #000;
    margin: 1em 0 1em 1em;
  }
  .ym-form .ym-form div.ym-fbox-check:focus + label {
    color: #000;
  }

  /**
  * @section styling form elements
  *
  * Styling for: Input, Textarea, Select ...
  *
  */
  /* styling standard form elements with 'almost' equal flexible width */
  /* Gestaltung der einzelnen Formularelemente mit annähend gleicher Breite */
  .ym-form .ym-fbox-text input, .ym-form .ym-fbox-text textarea {
    line-height: 1em;
    padding: 0.25em 0.3em;
    margin-top: -2px;
  }
  .ym-form .ym-fbox-select select {
    line-height: 1em;
    padding: 0.25em 2px 0.25em 1px;
    margin-top: -2px;
  }
  .ym-form input, .ym-form textarea, .ym-form select, .ym-form optgroup {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: inset 0 0 4px #eee;
    -moz-box-shadow: inset 0 0 4px #eee;
    box-shadow: inset 0 0 4px #eee;
  }
  .ym-form optgroup {
    font-style: normal;
    font-weight: bold;
  }
  .ym-form .ym-fbox-text input, .ym-form .ym-fbox-text textarea, .ym-form .ym-fbox-select select {
    border: 1px solid #ddd;
  }
  .ym-form .ym-message {
    color: #666;
    margin-bottom: 0.5em;
  }
  .ym-form .ym-required {
    color: #800;
    font-weight: bold;
  }
  .ym-form input:valid, .ym-form textarea:valid {
    background-color: #fff;
  }
  .ym-form input:invalid, .ym-form textarea:invalid {
    background-color: #fdd;
  }
  .ym-form .ym-error label {
    color: #800;
    font-weight: normal;
  }
  .ym-form .ym-error input, .ym-form .ym-error select, .ym-form .ym-error textarea {
    border: 1px #800 solid;
  }
  .ym-form .ym-error input:hover, .ym-form .ym-error input:focus,
  .ym-form .ym-error select:hover, .ym-form .ym-error select:focus,
  .ym-form .ym-error textarea:hover, .ym-form .ym-error textarea:focus {
    border: 1px #800 solid !important;
  }
  .ym-form .ym-error .ym-message {
    color: #800;
    font-weight: bold;
    margin-top: 0;
  }
  .ym-form div.ym-fbox-text input:focus, .ym-form div select:focus, .ym-form div textarea:focus,
  .ym-form div.ym-fbox-text input:hover, .ym-form div select:hover, .ym-form div textarea:hover,
  .ym-form div.ym-fbox-text input:active, .ym-form div select:active, .ym-form div textarea:active {
    border: 1px #888 solid;
    background: #fff;
  }

  /**
  * @section Buttons
  * inspired from: Catalin Rosu (http://www.red-team-design.com/just-another-awesome-css3-buttons)
  */
  .ym-button,
  .ym-form button,
  .ym-form input[type="button"],
  .ym-form input[type="reset"],
  .ym-form input[type="submit"] {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 1.5em 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  }
  .ym-button:hover,
  .ym-form button:hover,
  .ym-form input[type="button"]:hover,
  .ym-form input[type="reset"]:hover,
  .ym-form input[type="submit"]:hover {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #fafafa, #dddddd);
    background-image: -moz-linear-gradient(top, #fafafa, #dddddd);
    background-image: -ms-linear-gradient(top, #fafafa, #dddddd);
    background-image: -o-linear-gradient(top, #fafafa, #dddddd);
    background-image: linear-gradient(top, #fafafa, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
  }
  .ym-button:active,
  .ym-form button:active,
  .ym-form input[type="button"]:active,
  .ym-form input[type="reset"]:active,
  .ym-form input[type="submit"]:active {
    background-color: #bbb;
    background-image: -webkit-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -moz-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -ms-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -o-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: linear-gradient(top, #cccccc, #bbbbbb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    top: 1px;
  }
  .ym-button:focus,
  .ym-form button:focus,
  .ym-form input[type="button"]:focus,
  .ym-form input[type="reset"]:focus,
  .ym-form input[type="submit"]:focus {
    outline: 0;
    background: #fafafa;
  }

  /* pseudo elements don't work on input */
  .ym-form button:before,
  .ym-button:before {
    background: #ccc;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
  }

  .ym-add:before {
    content: "\271A";
  }

  .ym-delete:before {
    content: "\2718";
  }

  .ym-edit:before {
    content: "\270E";
  }

  .ym-email:before {
    content: "\2709";
  }

  .ym-like:before {
    content: "\2764";
  }

  .ym-next:before {
    content: "\279C";
  }

  .ym-play:before {
    content: "\25B6";
  }

  .ym-save:before {
    content: "\2714";
  }

  .ym-spark:before {
    content: "\2737";
  }

  .ym-star:before {
    content: "\2605";
  }

  /* removes extra inner spacing in Firefox */
  .ym-form button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* If line-height can't be modified, then fix Firefox spacing with padding */
  .ym-form input[type=button]::-moz-focus-inner,
  .ym-form input[type=reset]::-moz-focus-inner,
  .ym-form input[type=submit]::-moz-focus-inner {
    padding: .4em;
  }

  /* The disabled styles */
  .ym-form button[disabled],
  .ym-form button[disabled]:hover,
  .ym-form input[type=button][disabled],
  .ym-form input[type=button][disabled]:hover,
  .ym-form input[type=reset][disabled],
  .ym-form input[type=reset][disabled]:hover,
  .ym-form input[type=submit][disabled],
  .ym-form input[type=submit][disabled]:hover,
  .ym-button.ym-disabled,
  .ym-button.ym-disabled:hover {
    background: #eee;
    color: #aaa !important;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* ie6 support styles - redefined buttons, because of missing support for attribute selectors */
  * html .ym-button,
  * html .ym-form button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    color: #333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 1.5em 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
  }
  * html .ym-form button:focus,
  * html .ym-button:focus {
    outline: 0;
    background: #fafafa;
  }
  * html .ym-form button:hover,
  * html .ym-button:hover {
    background-color: #ddd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
  }
  * html .ym-form button:active,
  * html .ym-button:active {
    background-color: #bbb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
    position: relative;
    top: 1px;
  }
  * html .ym-button.ym-disabled,
  * html .ym-button.ym-disabled:hover {
    background: #eee;
    color: #aaa !important;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
  }
}
@media screen, projection {
  .jquery_tabs {
    margin: 1.5em 0 0;
  }
  .jquery_tabs ul.tabs-list {
    font-size: 1em;
    line-height: 1.5em;
    display: table;
    list-style-type: none;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  .jquery_tabs ul.tabs-list li {
    margin: 0 0.3em 0 0;
    border: 0 none;
    display: inline;
    float: left;
    padding: 0;
  }
  .jquery_tabs ul.tabs-list li a {
    font-size: 1em;
    line-height: 1.5;
    padding: 0.75em;
    background: transparent;
    display: block;
    float: left;
    font-weight: normal;
    margin: 0;
  }
  .jquery_tabs ul.tabs-list li a:focus, .jquery_tabs ul.tabs-list li a:hover, .jquery_tabs ul.tabs-list li a:active {
    background: #eee;
    border-radius: 0.2em 0.2em 0 0;
    color: #000;
    font-weight: normal;
    outline: 0 none;
    text-decoration: none;
  }
  .jquery_tabs ul.tabs-list li.current a:focus, .jquery_tabs ul.tabs-list li.current a:hover, .jquery_tabs ul.tabs-list li.current a:active {
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 0.2em 0.2em 0 0;
    color: #000;
    border-bottom: 0 none;
    font-weight: bold;
    text-decoration: none;
  }
  .jquery_tabs .content {
    border-top: 1px #ccc solid;
    clear: both;
    padding: 0;
    position: relative;
    top: -1px;
    margin-bottom: -1px;
  }

  .jquery_tabs .tabhead {
    position: absolute;
    left: -32768px;
  }

  .jquery_tabs .current-info,
  .jquery_tabs .accessibletabsanchor {
    left: -999em;
    position: absolute;
  }

  .jquery_tabs .tab-content {
    border-bottom: 1px transparent solid;
    border-top: 1px transparent solid;
    *overflow: hidden;
  }

  * html .jquery_tabs {
    zoom: 1;
    width: auto;
    position: relative;
  }
  * html .jquery_tabs .tab-content {
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
  }
  * html .jquery_tabs .content {
    z-index: -1;
  }

  * + html .jquery_tabs {
    zoom: 1;
    width: auto;
  }

  .jquery_tabs * {
    zoom: 1;
  }
}
@media print {
  .jquery_tabs .tabs-list {
    display: none !important;
  }
  .jquery_tabs .tabbody,
  .jquery_tabs .tabhead {
    display: block !important;
  }
}
/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * (en) YAML-Addon:Microformats Support
 * (de) YAML-Addon:Unterstützung für Microformate
 *
 * @note            Many thanks to Michael Jendryschik (http://jendryschik.de/) for contribution
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         v4.0.1
 * @revision        $Revision: 724 $
 * @lastmodified    $Date:2009-07-05 12:18:40 +0200 (So, 05. Jul 2009) $
 */
/* hCards + hCalendars */
@media all {
  .vcard,
  .vevent {
    line-height: 1.5em;
    border: 2px solid #e0e7b8 !important;
    padding: 30px 5px 5px 5px !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 1.5em 0 0 0 !important;
    /* small IE-Fix for background images */
    zoom: 1;
  }

  span.vcard,
  span.vevent {
    padding: 2px 1px 2px 70px !important;
    margin: 0 2px 0 !important;
  }

  .vcard {
    background: #f8f8ec url(images/microformat/hcard.png) 5px 5px no-repeat !important;
  }
  .vcard a {
    padding-left: 11px;
    background: url(images/microformat/external_link.png) top left no-repeat;
    color: #679A06;
  }
  .vcard .adr {
    display: block;
    margin: 0.5em 0;
  }
  .vcard .email {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  .vevent {
    background: #f8f8ec url(images/microformat/hcalendar.png) 5px 5px no-repeat !important;
  }

  .vevent a {
    padding-left: 11px;
    background: url(images/microformat/external_link.png) top left no-repeat;
    color: #679A06;
  }
  .vevent a p {
    margin: 0;
  }
  .vevent a .description {
    display: block;
    margin-top: 1em;
  }
  .vevent a .location {
    display: block;
    color: #679A06;
  }
  .vevent a .summary {
    display: block;
    color: #679A06;
    font-weight: bold;
  }

  /* XFN relationship */
  a.xfnRelationship {
    padding-right: 26px;
    background-image: url(images/microformat/xfn/xfn-small.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  a.xfnRelationship[rel~="colleague"], a.xfnRelationship[rel~="co-worker"] {
    padding-right: 21px;
    background-image: url(images/microformat/xfn/xfn-colleague.png);
  }
  a.xfnRelationship[rel~="met"] {
    padding-right: 32px;
    background-image: url(images/microformat/icon-xfn.png);
  }
  a.xfnRelationship[rel~="colleague"][rel~="met"], a.xfnRelationship[rel~="co-worker"][rel~="met"] {
    padding-right: 26px;
    background-image: url(images/microformat/xfn/xfn-colleague-met.png);
  }
  a.xfnRelationship[rel~="friend"] {
    padding-right: 21px;
    background-image: url(images/microformat/xfn/xfn-friend.png);
  }
  a.xfnRelationship[rel~="friend"][rel~="met"] {
    padding-right: 26px;
    background-image: url(images/microformat/xfn/xfn-friend-met.png);
  }
  a.xfnRelationship[rel~="sweetheart"] {
    padding-right: 21px;
    background-image: url(images/microformat/xfn/xfn-sweetheart.png);
  }
  a.xfnRelationship[rel~="sweetheart"][rel~="met"] {
    padding-right: 26px;
    background-image: url(images/microformat/xfn/xfn-sweetheart-met.png);
  }
  a.xfnRelationship[rel~="child"] {
    padding-right: 21px;
    background-image: url(images/microformat/xfn/xfn-child.png);
  }
  a.xfnRelationship[rel~="parent"] {
    padding-right: 21px;
    background-image: url(images/microformat/xfn/xfn-parent.png);
  }
  a.xfnRelationship[rel~="spouse"] {
    padding-right: 21px;
    background-image: url(images/microformat/xfn/xfn-spouse.png);
  }
  a.xfnRelationship[rel~="me"] {
    padding-right: 21px;
    background-image: url(images/microformat/xfn/xfn-me.png);
  }

  /* rel-tag */
  a[rel~="tag"] {
    padding-right: 32px;
    background-image: url(images/microformat/icon-rel-tag.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  /* geo */
  abbr[class~="geo"] {
    padding-right: 32px;
    background: url(images/microformat/icon-geo.png) no-repeat right;
    border: none;
    cursor: default;
  }
}
/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 * (en) Uniform design of standard content elements
 * (de) Einheitliche Standardformatierungen für die wichtigten Inhalts-Elemente
 */
@media all {
  /*
  * @section global typography settings
  *
  * vertical rhythm settings (based on em-unit)
  * -------------------------------------------
  * basefont-size:  14px (87.5%)
  * line-height  :  21px (factor: 1.5) */
  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
  html * {
    font-size: 100%;
  }

  /**
  * (en) reset monospaced elements to font size 16px in all browsers
  * (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
  *
  * @see: http://webkit.org/blog/67/strange-medium/
  */
  textarea,
  pre,
  code,
  kbd,
  samp,
  var,
  tt {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  body {
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
    /* font-size: 14px; */
    font-size: 87.5%;
    color: #444444;
    /* (en) Prevent auto-scaling of text in mobile webkit browsers */
    /* (de) Automatische Schriftvergrößerung in mobilen Webkit-Browsern vermeiden */
    -webkit-text-size-adjust: 100%;
  }

  /*--- Headings | Überschriften ------------------------------------------------------------------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #161e21;
    margin: 0;
  }

  h1 {
    /* font-size: 49px; */
    font-size: 350%;
    line-height: 0.857;
    margin: 0.429em 0 0;
  }

  h2 {
    /* font-size: 35px; */
    font-size: 250%;
    line-height: 1.2;
    margin: 0.6em 0 0;
  }

  h3 {
    /* font-size: 24px; */
    font-size: 171.429%;
    line-height: 0.875;
    margin: 0.875em 0 0;
  }

  h4 {
    /* font-size: 21px; */
    font-size: 150%;
    line-height: 1;
    margin: 1em 0 0;
  }

  h5 {
    /* font-size: 18px; */
    font-size: 128.571%;
    line-height: 1.167;
    margin: 1.167em 0 0;
  }

  h6 {
    font-weight: bold;
    /* font-size: 14px; */
    font-size: 100%;
    line-height: 1.5;
    margin: 1.5em 0 0;
  }

  /* --- Lists | Listen  -------------------------------------------------------------------------------- */
  ul,
  ol,
  dl {
    font-size: 100%;
    line-height: 1.5;
    margin: 1.5em 0 1em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul ul {
    list-style-type: circle;
    margin-top: 0;
  }

  ol ol {
    list-style-type: lower-latin;
    margin-top: 0;
  }

  ol ul {
    list-style-type: circle;
    margin-top: 0;
  }

  li {
    font-size: 100%;
    line-height: 1.5;
    margin-left: 0.8em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 1.5em 0 0 0.8em;
  }

  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */
  p {
    font-size: 100%;
    line-height: 1.5;
    margin: 1.5em 0 0;
  }

  blockquote, cite, q {
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
    font-style: italic;
  }

  blockquote {
    background: transparent;
    color: #666666;
    margin: 1.5em 0 0 1.5em;
  }

  strong, b {
    font-weight: bold;
  }

  em, i {
    font-style: italic;
  }

  big {
    /* font-size: 16px; */
    font-size: 114.286%;
    line-height: 1.313;
  }

  small {
    /* font-size: 12px; */
    font-size: 85.714%;
    line-height: 1.75;
  }

  pre,
  code,
  kbd,
  tt,
  samp,
  var {
    font-size: 100%;
  }

  pre {
    font-size: 100%;
    line-height: 1.5;
    margin: 1.5em 0 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  pre, code {
    color: #880000;
  }

  kbd, samp, var, tt {
    color: #666666;
    font-weight: bold;
  }

  var, dfn {
    font-style: italic;
  }

  acronym, abbr {
    border-bottom: 1px #aaa dotted;
    font-variant: small-caps;
    letter-spacing: .07em;
    cursor: help;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  mark {
    background: yellow;
    color: black;
  }

  hr {
    color: #fff;
    background: transparent;
    margin: 0 0 0.75em 0;
    padding: 0 0 0.679em 0;
    border: 0;
    border-bottom: 1px #eeeeee solid;
  }

  /*--- Links ----------------------------------------------------------------------------------------- */
  a {
    color: #4d87c7;
    background: transparent;
    text-decoration: none;
  }

  a:active {
    outline: none;
  }

  /* (en) maximum constrast for tab focus - change with great care */
  /* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
  a:hover,
  a:focus {
    background-color: #4d87c7;
    color: white;
    text-decoration: none;
  }

  /* --- images ------------------ */
  img,
  figure {
    margin: 0;
  }

  .flexible {
    margin-top: 1.5em;
    max-width: 100%;
    height: auto;
  }

  * html .flexible {
    /* IE6 support */
    width: 98%;
    /* 2% space for borders */
  }

  .bordered {
    margin-top: 1.5em;
    border: 2px #eee solid;
    border: 2px white solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  }

  /**
  * ----------------------------------------------------------------------- #
  *
  * Generic Content Classes
  *
  * (en) standard classes for positioning and highlighting
  * (de) Standardklassen zur Positionierung und Hervorhebung
  *
  * @section content-generic-classes
  */
  .highlight {
    color: #cc3300;
  }

  .dimmed {
    color: #888888;
  }

  .box {
    border-radius: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-color: #888;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
    color: #444;
    color: rgba(0, 0, 0, 0.8);
    padding: 1.429em;
    margin: 1.5em 0 0 0;
  }
  .box > *:first-child {
    margin-top: 0;
  }

  .label {
    font-family: Verdana, Geneva, sans-serif;
    padding: 1px 6px 2px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #06C;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
  }

  .info {
    background: #f4f4f4;
  }

  .success {
    background: #88cc88;
  }

  .warning {
    background: #cccc88;
  }

  .error {
    background: #cc8888;
  }

  .float-left {
    float: left;
    display: inline;
    margin: 1.5em 1em 0 0;
  }

  .float-right {
    float: right;
    display: inline;
    margin: 1.5em 0 0 1em;
  }

  .center {
    display: block;
    text-align: center;
    margin: 1.5em auto 0 auto;
  }

  /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Tables | Tabellen
  *
  * (en) Generic classes for table-width and design definition
  * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
  *
  * @section content-tables
  */
  table {
    width: 100%;
    border-collapse: collapse;
    color: #444444;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    margin: 1.357em 0 0 0;
  }
  table.narrow {
    margin: 1.429em 0 0 0;
  }
  table.narrow th, table.narrow td {
    padding: 0 0.5em;
    line-height: 1.429;
  }
  table.bordertable {
    border: 1px #ccc solid;
  }
  table.bordertable thead th {
    background: #e0e0e0;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
  }
  table.bordertable tbody th[scope="row"] {
    background: #f0f0f0;
  }
  table.bordertable tbody th {
    border-right: 1px solid #ccc;
  }
  table.bordertable tbody td {
    border-right: 1px solid #ccc;
  }

  table caption {
    font-variant: small-caps;
  }

  th, td {
    line-height: 1.5em;
    vertical-align: top;
    padding: 0.714em 0.5em;
  }

  th *:first-child,
  td *:first-child {
    margin-top: 0;
  }

  th.nowrap,
  td.nowrap {
    white-space: nowrap;
  }

  thead th {
    text-align: left;
    color: #000;
    border-bottom: 2px #000 solid;
  }

  tbody {
    /* highlight row on mouse over */
  }
  tbody th {
    text-align: left;
    border-top: 1px solid #ccc;
    text-align: left;
  }
  tbody td {
    text-align: left;
    border-top: 1px solid #ccc;
  }
  tbody tr:hover th,
  tbody tr:hover td {
    background: #f8f8f8;
  }
}
/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * default print stylesheet
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         v4.0.1
 * @revision        $Revision: 724 $
 * @lastmodified    $Date: 2012-03-03 11:45:41 +0100 (Sat, 03 Mar 2012) $
 */
@media print {
  /**
  * @section basic layout preparation
  */
  /* (en) change font size unit to [pt] - avoids problems with [px] in Gecko based browsers  	*/
  /* (de) Wechsel der der Schriftgrößen-Maßheinheit zu [pt] - Probleme mit [px] in Gecko-Browsern vermeiden */
  body {
    font-size: 10pt;
    padding: 0 5px;
  }

  /* (en) Hide unneeded container of the screenlayout in print layout */
  /* (de) Für den Druck nicht benötigte Container des Layouts abschalten */
  nav,
  .ym-searchform {
    display: none;
  }

  /*------------------------------------------------------------------------------------------------------*/
  /* (en) Avoid page breaks right after headings */
  /* (de) Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  /*------------------------------------------------------------------------------------------------------*/
  /* (en) optional output of acronyms and abbreviations*/
  /* (de) optionale Ausgabe von Auszeichnung von Abkürzungen */
  abbr[title]:after,
  acronym[title]:after {
    content: "(" attr(title) ")";
  }

  /*------------------------------------------------------------------------------------------------------*/
  /* (en) optional URL output of hyperlinks in print layout */
  /* (de) optionale Ausgabe der URLs von Hyperlinks */
  a[href]:after {
    content: " <URL:" attr(href) ">";
    color: #444;
    background: inherit;
    font-style: italic;
  }
}
/* Screen Design */
/**
* "Yet Another Multicolumn Layout" - YAML CSS Framework
*
* (en) screen layout for YAML documentation
*
* @copyright       Copyright 2005-2012, Dirk Jesse
* @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
*                  YAML-CDL (http://www.yaml.de/license.html)
* @link            http://www.yaml.de
* @package         yaml
* @version         4.0
* @lastmodified    $Date: 2012-03-03 13:20:39 +0100 (Sat, 03 Mar 2012) $
*/
@media screen, projection {
  /**
  * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera
  * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera
  *
  * @workaround
  * @affected IE8, FF, Webkit, Opera
  * @css-for all
  * @valid CSS3
  */
  body {
    overflow-y: scroll;
  }

  /*------------------------------------------------------------------------------------------------------*/
  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body {
    background: #0d1113;
  }

  body > header,
  body > footer,
  body > nav,
  body > [id] {
    min-width: 960px;
  }

  body > #intro {
    min-width: 912px;
  }

  * html .ym-wrapper {
    width: 1140px;
    /* IE6 support */
  }

  .ym-wrapper {
    text-align: left;
    margin: 0 auto;
    max-width: 90em;
  }

  .ym-wbox {
    padding: 24px 48px;
    position: relative;
  }

  #js-info {
    display: block;
    padding: 10px 20px;
    background: #fee;
    color: #800;
    margin: 0 0 10px 0;
  }

  .js .js-info {
    display: none;
  }

  #formswitch {
    display: none;
  }

  .js #formswitch {
    display: block;
  }

  .fix {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    -webkit-box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.5);
  }

  /* (en) Layout:width, background, borders */
  /* (de) Layout:Breite, Hintergrund, Rahmen */
  #intro,
  header,
  #overview,
  nav,
  #main,
  footer {
    background: #fff repeat-x top left;
    color: #333;
    clear: both;
  }

  header,
  footer {
    background: #161e21;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 -32px 64px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 -32px 64px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -32px 64px rgba(0, 0, 0, 0.5);
    /* IE5.5 - IE7 */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF141C1F,EndColorStr=#FF0D1214);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF141C1F,EndColorStr=#FF0D1214)";
  }

  #sitenav .ym-wbox {
    padding: 0 48px;
  }

  header .ym-wrapper {
    text-align: center;
  }

  header .ym-wbox {
    padding-bottom: 48px;
  }

  header h1,
  header h2 {
    font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 120px;
    color: #8b8f90;
    border: 0 none;
    text-shadow: 1px 1px 1px black;
  }

  header h1 {
    margin: 0 0 0.15em 0;
  }

  header h2 {
    position: relative;
    top: -16px;
    left: 4px;
    letter-spacing: 8px;
    font-size: 45px;
    line-height: 85%;
    margin: 0;
  }

  header p {
    font-size: 1.25em;
    margin: 0;
  }

  header p em {
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Times New Roman", Times, serif;
    font-size-adjust: 0.55;
  }

  header h1 span {
    display: inline-block;
    overflow: hidden;
    height: 0;
    width: 235px;
    padding-top: 78px;
    margin-bottom: -2px;
    background: url(../images/yaml-solo-transparent.png) no-repeat top left;
  }

  #intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #888;
    color: rgba(255, 255, 255, 0.5);
    background: #080b0c;
    border-bottom: 1px #000 solid;
    padding: 12px 24px;
    letter-spacing: 6px;
    word-spacing: 3px;
    text-align: center;
  }

  #secondary {
    background: #464b4e;
    -webkit-box-shadow: inset 0 -24px 48px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 -24px 48px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -24px 48px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  }

  #secondary {
    color: #c8c8c8;
  }

  #secondary {
    color: rgba(255, 255, 255, 0.8);
  }

  #secondary h2,
  #secondary h3,
  #secondary h4 {
    color: #fff;
  }

  #secondary .label {
    background: #161e21;
  }

  #secondary a.label:hover,
  #secondary a.label:focus,
  #secondary a.label:active {
    background: #fff;
    color: #000;
  }

  #sitenav {
    background: #161e21;
    -webkit-box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
    border-top: 1px solid #646464;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #323232;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* IE5.5 - IE7 */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF161E21,EndColorStr=#FF2C3336);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF161E21,EndColorStr=#FF2C3336)";
    zoom: 1;
  }

  .social-buttons {
    margin-top: 1.5em;
  }

  .social-buttons > * {
    float: left;
    margin-right: 1em;
  }

  .mnav ul {
    margin: 0;
  }

  .mnav {
    background: #161e21;
    border-right: 1px solid #646464;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid #323232;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    /* IE5.5 - IE7 */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF161E21,EndColorStr=#FF2C3336);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF161E21,EndColorStr=#FF2C3336)";
  }

  * html .mnav ul {
    overflow: hidden;
    /* ie6 adjustment - overwrites ie-fix from iehacks.css */
  }

  .mnav li {
    -webkit-box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  }

  .mnav li.active {
    background-color: #2a3134;
    /* IE5.5 - IE7 */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF2A3134,EndColorStr=#FF3E4447);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF2A3134,EndColorStr=#FF3E4447)";
    zoom: 1;
  }

  .mnav li strong,
  .mnav li a {
    color: #9d9fa0;
  }

  .mnav li strong,
  .mnav li a {
    border-left: 1px solid #646464;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid #323232;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    display: block;
    line-height: 1em;
    padding: 1em 10%;
    color: #9d9fa0;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 100px;
    margin-bottom: -86px;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    transition: background-color .1s linear;
    zoom: 1;
  }

  .mnav li strong span,
  .mnav li a span {
    display: block;
    margin-top: .7em;
    font-size: 10px;
    color: #79868c;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
  }

  .mnav li.active strong span,
  .mnav li.active a span {
    color: #ccc;
    color: rgba(255, 255, 255, 0.7);
  }

  .mnav li strong {
    color: #fff;
    -webkit-box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.1);
  }

  .mnav li a:hover,
  .mnav li a:focus,
  .mnav li a:active {
    color: #fff;
    -webkit-box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 -24px 30px rgba(255, 255, 255, 0.2);
    background: #800;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    transition: background-color .1s linear;
  }

  .mnav li a:hover span,
  .mnav li a:focus span,
  .mnav li a:active span {
    color: rgba(255, 255, 255, 0.7);
  }

  nav {
    border-top: 1px #000 solid;
    background: #080b0c;
  }

  nav .ym-wbox {
    padding: 0 48px;
  }

  nav .ym-hlist {
    background: transparent;
    padding: 0;
  }

  nav .ym-hlist ul {
    padding: 0.5em 0;
  }

  nav .hlist li a {
    color: #aaa;
    font-variant: small-caps;
    font-weight: normal;
  }

  nav .ym-hlist li.active a,
  nav .ym-hlist li a:hover,
  nav .ym-hlist li a:focus {
    background: #444;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  #overview {
    background: #eee;
    -webkit-box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.25);
    zoom: 1;
  }

  #main {
    z-index: 1;
    background: #fff;
    -webkit-box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  }

  #examples {
    margin-top: 1.5em;
  }

  #examples img {
    -webkit-box-shadow: 0 0 64px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 0 64px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 64px rgba(255, 255, 255, 0.3);
    *width: 99%;
  }

  footer {
    border-top: 2px #000 solid;
  }

  footer p:first-child {
    margin-top: 0;
  }

  footer .ym-gr {
    text-align: right;
  }

  footer .ym-gr iframe {
    display: inline-block;
    width: 165px !important;
  }

  footer a {
    color: #999;
  }

  footer a {
    color: #999;
    color: rgba(255, 255, 255, 0.6);
    background: transparent;
    font-weight: normal;
  }

  footer a:focus,
  footer a:hover,
  footer a:active {
    color: #4D87C7;
    background-color: transparent;
    text-decoration: underline;
  }

  .ym-g30 {
    width: 30%;
  }

  .flexible {
    margin-top: 1.5em;
  }

  /*--- TYPOGRAPHY -----------------------------------------------------*/
  h2 {
    letter-spacing: -2px;
  }

  h2[id] {
    border-bottom: 1px #aa1124 solid;
  }

  .indent {
    padding-left: 10px;
  }

  h3 {
    letter-spacing: -1px;
  }

  body h4, h5, h6 {
    color: #8B8F90;
  }

  .site dl {
    margin: 1.5em 0 0 0;
  }

  .site dd {
    margin: 0 0 0.75em 0;
  }

  /*--------------------------------------------------------------------*/
  .ym-gbox-left {
    padding: 0 20px 0 0;
  }

  .ym-gbox-right {
    padding: 0 0 0 20px;
  }

  .ym-cbox {
    padding: 0 10px;
  }

  .grid-demo1,
  .grid-demo2 {
    margin: 1.5em 0 0 0;
  }

  .grid-demo1 .ym-grid + .ym-grid {
    margin-top: 8px;
  }

  .grid-demo1 .ym-gbox {
    text-align: center;
    background: #eee;
    margin-right: 12px;
    padding: 10px;
    border: 1px #ccc solid;
  }

  .dummyscreen {
    box-shadow: 0 0 3px #000;
    border: 1px #666 solid;
    border: 2px white solid;
    border-radius: 5px;
    line-height: 3em;
    margin: 1.5em 0 0;
  }

  .layout-a .ym-wrapper {
    width: 70%;
    margin: 0 auto;
    border: 1px dashed #888;
    border: 1px dashed rgba(0, 0, 0, 0.25);
    background: #eee;
  }

  .layout-b .ym-wrapper {
    width: 70%;
    margin: 0 auto;
    border: 1px dashed #888;
    border: 1px dashed rgba(0, 0, 0, 0.25);
  }

  .dummyscreen .ym-wbox {
    padding: 0;
    margin: 8px;
    border: 1px dotted #888;
    border: 1px dotted rgba(0, 0, 0, 0.25);
  }

  .layout-a .main {
    padding: 20px 0;
  }

  .dummyscreen * {
    text-align: center;
    color: #fff;
  }

  .dummyscreen .header {
    background: #aaa;
    color: #fff;
  }

  .dummyscreen .main {
    background: #ccc;
    color: #fff;
    line-height: 10em;
  }

  .dummyscreen .footer {
    background: #aaa;
    color: #fff;
  }

  .dummyscreen .ym-cbox,
  .dummyscreen .bg {
    height: 10em;
  }

  .dummyscreen .ym-col1 .ym-cbox {
    margin: 0 0.25em;
    background: #aaa;
  }

  .dummyscreen .ym-col2 .ym-cbox {
    margin: 0 0.25em;
    background: #999;
  }

  .dummyscreen .ym-col3 .ym-cbox .bg {
    padding: 0 0.25em;
    background: #777;
  }

  .columnset-2 .ym-col1 {
    width: 6em;
  }

  .columnset-2 .ym-col3 {
    width: auto;
    margin: 0 0 0 6em;
  }

  .columnset-3 .ym-col1 {
    width: 6em;
  }

  .columnset-3 .ym-col2 {
    width: 6em;
  }

  .columnset-3 .ym-col3 {
    width: auto;
    margin: 0 6em;
  }

  .columnset-4 * {
    color: #444;
    text-align: left;
    margin-top: 0;
  }

  .columnset-4 .ym-col1 {
    width: 25%;
  }

  .columnset-4 .ym-col2 {
    width: 25%;
  }

  .columnset-4 .ym-col3 {
    width: auto;
    margin: 0 25%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #fff !important;
  }

  .columnset-4 [class*="ym-cbox"] {
    text-align: left;
    padding: 0 1em;
    color: #444;
    height: auto !important;
    background: #fff !important;
  }

  .grid-demo1 .ym-grid .ym-grid .ym-gbox,
  .grid-demo1 .ym-grid .ym-grid .ym-gbox {
    background: #ddd;
  }

  .grid-demo2 .ym-grid {
    margin-bottom: 2px;
  }

  .grid-demo2 .ym-gl {
    text-align: center;
    background: #f4f4f4;
    padding: 10px 0;
  }

  .grid-demo2 .ym-gr {
    text-align: center;
    background: #e4e4e4;
    padding: 10px 0;
  }

  .grid-demo3 {
    margin: 1.5em 0 0 0;
  }

  .grid-demo3 .ym-gbox-left {
    background: #eee;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0.5em;
  }

  .grid-demo3 .ym-gbox-right {
    background: #eee;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5em;
  }

  .grid-demo3 h6 {
    background: #800;
    color: #fff;
    padding: 0.75em 1em;
    margin: 0;
  }

  .grid-demo3 ul,
  .grid-demo3 p {
    padding: 1.5em;
    margin: 0;
  }

  .nav-wrapper {
    margin-top: 1.5em;
  }

  #main .hlist,
  #main h6.vlist {
    margin: 1.5em 0 0 0;
  }

  #main th {
    white-space: nowrap;
  }

  /**
  * -------------------------------------------------------------------------- #
  *
  * Skiplinks
  *
  * (en) Visual styling for skiplink navigation
  * (de) Visuelle Gestaltung der Skiplink-Navigation
  *
  * @section content-skiplinks
  */
  .ym-skiplinks a.skip:focus, .ym-skiplinks a.skip:active {
    color: #fff;
    background: #333;
    border-bottom: 1px #000 solid;
    padding: 10px 0;
    text-decoration: none;
  }
}
@media screen and (min-width: 0px) {
  body > header,
  body > footer,
  body > nav,
  body > #intro,
  body > [id] {
    min-width: 0;
  }

  .ym-wrapper {
    width: auto;
  }

  #examples img {
    width: auto;
    max-width: 99%;
  }
}
@media screen and ( max-width: 960px ) {
  nav .ym-wbox,
  #sitenav .ym-wbox,
  .ym-wbox {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
  .linearize-level-1,
  .linearize-level-1 > [class*="ym-g"],
  .linearize-level-1 > [class*="ym-col"] {
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }

  .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"],
  .linearize-level-1 > [class*="ym-col"] > [class*="ym-cbox"] {
    overflow: hidden;
    /* contain floats */
    padding: 0;
    margin: 0;
  }

  #secondary .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"] {
    padding: 10px;
  }
}
@media screen and ( max-width: 740px) {
  #intro {
    letter-spacing: normal;
    word-spacing: normal;
  }

  header h1 {
    font-size: 60px;
    line-height: 1.0em;
  }

  header h1 span {
    width: 118px;
    padding-top: 40px;
    margin-bottom: -2px;
    background: url(../images/yaml-solo-transparent-small.png) no-repeat top left;
  }

  header h2 {
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 1.5em;
  }

  header p {
    font-size: 14px;
  }

  th.nowrap,
  td.nowrap {
    white-space: normal;
  }

  nav .ym-wbox,
  #sitenav .ym-wbox,
  .ym-wbox {
    padding-left: 6px;
    padding-right: 6px;
  }

  .mnav li {
    -webkit-box-shadow: inset 0 -10px 30px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 -10px 30px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 -10px 30px rgba(255, 255, 255, 0.1);
  }

  .mnav li a span,
  .mnav li strong span {
    display: none;
  }

  footer .ym-gr {
    text-align: left;
  }

  .indent {
    padding-left: 0px;
  }

  table th,
  table td {
    white-space: normal !important;
  }

  /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
  .linearize-level-2,
  .linearize-level-2 > [class*="ym-g"],
  .linearize-level-2 > [class*="ym-col"] {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    width: 100% !important;
  }

  .linearize-level-2 > [class*="ym-g"] > [class*="ym-gbox"],
  .linearize-level-2 > [class*="ym-col"] > [class*="ym-cbox"] {
    overflow: hidden;
    /* contain floats */
    margin: 0;
    padding: 0;
  }

  .ym-form .linearize-level-2 [class*="ym-fbox"] {
    margin: 1em 0 0 0;
    padding: 0.3em 1em;
  }

  #secondary .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"] {
    margin: 0;
    padding: 0;
  }

  .linearize-form [class*="ym-fbox"]:not([class*="ym-fbox-check"]) label,
  .linearize-form .ym-label,
  .linearize-form .ym-message,
  .linearize-form input[type="text"],
  .linearize-form textarea,
  .linearize-form select {
    display: block;
    float: none;
    position: static !important;
    width: 100% !important;
  }

  .linearize-form .ym-message,
  .linearize-form .ym-fbox-check input {
    margin-left: 0 !important;
  }
}
