wrapper {
  width: 100%;
  margin: 0 auto;
}

gbox {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 10px;
}

[class*=push-"],
[class*=pull-"] {
  position: relative;
}

span-1 {
  width: 8.33333%;
}

span-2 {
  width: 16.66667%;
}

span-3 {
  width: 25%;
}

span-4 {
  width: 33.33333%;
}

span-5 {
  width: 41.66667%;
}

span-6 {
  width: 50%;
}

span-7 {
  width: 58.33333%;
}

span-8 {
  width: 66.66667%;
}

span-9 {
  width: 75%;
}

span-10 {
  width: 83.33333%;
}

span-11 {
  width: 91.66667%;
}

span-12 {
  width: 100%;
}

push-1 {
  left: 8.33333%;
}

push-2 {
  left: 16.66667%;
}

push-3 {
  left: 25%;
}

push-4 {
  left: 33.33333%;
}

push-5 {
  left: 41.66667%;
}

push-6 {
  left: 50%;
}

push-7 {
  left: 58.33333%;
}

push-8 {
  left: 66.66667%;
}

push-9 {
  left: 75%;
}

push-10 {
  left: 83.33333%;
}

push-11 {
  left: 91.66667%;
}

pull-1 {
  left: -8.33333%;
}

pull-2 {
  left: -16.66667%;
}

pull-3 {
  left: -25%;
}

pull-4 {
  left: -33.33333%;
}

pull-5 {
  left: -41.66667%;
}

pull-6 {
  left: -50%;
}

pull-7 {
  left: -58.33333%;
}

pull-8 {
  left: -66.66667%;
}

pull-9 {
  left: -75%;
}

pull-10 {
  left: -83.33333%;
}

pull-11 {
  left: -91.66667%;
}
