.ym-wrapper {
  width: 960px;
  margin: 0 auto;
}

.ym-gbox {
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
}

[class*="ym-push-"],
[class*="ym-pull-"] {
  position: relative;
}

.ym-grid-1 {
  width: 80px;
}

.ym-grid-2 {
  width: 160px;
}

.ym-grid-3 {
  width: 240px;
}

.ym-grid-4 {
  width: 320px;
}

.ym-grid-5 {
  width: 400px;
}

.ym-grid-6 {
  width: 480px;
}

.ym-grid-7 {
  width: 560px;
}

.ym-grid-8 {
  width: 640px;
}

.ym-grid-9 {
  width: 720px;
}

.ym-grid-10 {
  width: 800px;
}

.ym-grid-11 {
  width: 880px;
}

.ym-grid-12 {
  width: 960px;
}

.ym-push-1 {
  left: 80px;
}

.ym-push-2 {
  left: 160px;
}

.ym-push-3 {
  left: 240px;
}

.ym-push-4 {
  left: 320px;
}

.ym-push-5 {
  left: 400px;
}

.ym-push-6 {
  left: 480px;
}

.ym-push-7 {
  left: 560px;
}

.ym-push-8 {
  left: 640px;
}

.ym-push-9 {
  left: 720px;
}

.ym-push-10 {
  left: 800px;
}

.ym-push-11 {
  left: 880px;
}

.ym-pull-1 {
  left: -80px;
}

.ym-pull-2 {
  left: -160px;
}

.ym-pull-3 {
  left: -240px;
}

.ym-pull-4 {
  left: -320px;
}

.ym-pull-5 {
  left: -400px;
}

.ym-pull-6 {
  left: -480px;
}

.ym-pull-7 {
  left: -560px;
}

.ym-pull-8 {
  left: -640px;
}

.ym-pull-9 {
  left: -720px;
}

.ym-pull-10 {
  left: -800px;
}

.ym-pull-11 {
  left: -880px;
}
