wrapper {
  width: 960px;
  margin: 0 auto;
}

gbox {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 10px;
}

[class*=push-"],
[class*=pull-"] {
  position: relative;
}

span-1 {
  width: 40px;
}

span-2 {
  width: 80px;
}

span-3 {
  width: 120px;
}

span-4 {
  width: 160px;
}

span-5 {
  width: 200px;
}

span-6 {
  width: 240px;
}

span-7 {
  width: 280px;
}

span-8 {
  width: 320px;
}

span-9 {
  width: 360px;
}

span-10 {
  width: 400px;
}

span-11 {
  width: 440px;
}

span-12 {
  width: 480px;
}

span-13 {
  width: 520px;
}

span-14 {
  width: 560px;
}

span-15 {
  width: 600px;
}

span-16 {
  width: 640px;
}

span-17 {
  width: 680px;
}

span-18 {
  width: 720px;
}

span-19 {
  width: 760px;
}

span-20 {
  width: 800px;
}

span-21 {
  width: 840px;
}

span-22 {
  width: 880px;
}

span-23 {
  width: 920px;
}

span-24 {
  width: 960px;
}

push-1 {
  left: 40px;
}

push-2 {
  left: 80px;
}

push-3 {
  left: 120px;
}

push-4 {
  left: 160px;
}

push-5 {
  left: 200px;
}

push-6 {
  left: 240px;
}

push-7 {
  left: 280px;
}

push-8 {
  left: 320px;
}

push-9 {
  left: 360px;
}

push-10 {
  left: 400px;
}

push-11 {
  left: 440px;
}

push-12 {
  left: 480px;
}

push-13 {
  left: 520px;
}

push-14 {
  left: 560px;
}

push-15 {
  left: 600px;
}

push-16 {
  left: 640px;
}

push-17 {
  left: 680px;
}

push-18 {
  left: 720px;
}

push-19 {
  left: 760px;
}

push-20 {
  left: 800px;
}

push-21 {
  left: 840px;
}

push-22 {
  left: 880px;
}

push-23 {
  left: 920px;
}

pull-1 {
  left: -40px;
}

pull-2 {
  left: -80px;
}

pull-3 {
  left: -120px;
}

pull-4 {
  left: -160px;
}

pull-5 {
  left: -200px;
}

pull-6 {
  left: -240px;
}

pull-7 {
  left: -280px;
}

pull-8 {
  left: -320px;
}

pull-9 {
  left: -360px;
}

pull-10 {
  left: -400px;
}

pull-11 {
  left: -440px;
}

pull-12 {
  left: -480px;
}

pull-13 {
  left: -520px;
}

pull-14 {
  left: -560px;
}

pull-15 {
  left: -600px;
}

pull-16 {
  left: -640px;
}

pull-17 {
  left: -680px;
}

pull-18 {
  left: -720px;
}

pull-19 {
  left: -760px;
}

pull-20 {
  left: -800px;
}

pull-21 {
  left: -840px;
}

pull-22 {
  left: -880px;
}

pull-23 {
  left: -920px;
}
