wrapper {
  width: 960px;
  margin: 0 auto;
}

gbox {
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
}

[class*=push-"],
[class*=pull-"] {
  position: relative;
}

g960-1 {
  width: 60px;
}

g960-2 {
  width: 120px;
}

g960-3 {
  width: 180px;
}

g960-4 {
  width: 240px;
}

g960-5 {
  width: 300px;
}

g960-6 {
  width: 360px;
}

g960-7 {
  width: 420px;
}

g960-8 {
  width: 480px;
}

g960-9 {
  width: 540px;
}

g960-10 {
  width: 600px;
}

g960-11 {
  width: 660px;
}

g960-12 {
  width: 720px;
}

g960-13 {
  width: 780px;
}

g960-14 {
  width: 840px;
}

g960-15 {
  width: 900px;
}

g960-16 {
  width: 960px;
}

push-1 {
  left: 60px;
}

push-2 {
  left: 120px;
}

push-3 {
  left: 180px;
}

push-4 {
  left: 240px;
}

push-5 {
  left: 300px;
}

push-6 {
  left: 360px;
}

push-7 {
  left: 420px;
}

push-8 {
  left: 480px;
}

push-9 {
  left: 540px;
}

push-10 {
  left: 600px;
}

push-11 {
  left: 660px;
}

push-12 {
  left: 720px;
}

push-13 {
  left: 780px;
}

push-14 {
  left: 840px;
}

push-15 {
  left: 900px;
}

pull-1 {
  left: -60px;
}

pull-2 {
  left: -120px;
}

pull-3 {
  left: -180px;
}

pull-4 {
  left: -240px;
}

pull-5 {
  left: -300px;
}

pull-6 {
  left: -360px;
}

pull-7 {
  left: -420px;
}

pull-8 {
  left: -480px;
}

pull-9 {
  left: -540px;
}

pull-10 {
  left: -600px;
}

pull-11 {
  left: -660px;
}

pull-12 {
  left: -720px;
}

pull-13 {
  left: -780px;
}

pull-14 {
  left: -840px;
}

pull-15 {
  left: -900px;
}
