wrapper {
  width: 960px;
  margin: 0 auto;
}

gbox {
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
}

[class*=push-"],
[class*=pull-"] {
  position: relative;
}

g960-1 {
  width: 80px;
}

g960-2 {
  width: 160px;
}

g960-3 {
  width: 240px;
}

g960-4 {
  width: 320px;
}

g960-5 {
  width: 400px;
}

g960-6 {
  width: 480px;
}

g960-7 {
  width: 560px;
}

g960-8 {
  width: 640px;
}

g960-9 {
  width: 720px;
}

g960-10 {
  width: 800px;
}

g960-11 {
  width: 880px;
}

g960-12 {
  width: 960px;
}

push-1 {
  left: 80px;
}

push-2 {
  left: 160px;
}

push-3 {
  left: 240px;
}

push-4 {
  left: 320px;
}

push-5 {
  left: 400px;
}

push-6 {
  left: 480px;
}

push-7 {
  left: 560px;
}

push-8 {
  left: 640px;
}

push-9 {
  left: 720px;
}

push-10 {
  left: 800px;
}

push-11 {
  left: 880px;
}

pull-1 {
  left: -80px;
}

pull-2 {
  left: -160px;
}

pull-3 {
  left: -240px;
}

pull-4 {
  left: -320px;
}

pull-5 {
  left: -400px;
}

pull-6 {
  left: -480px;
}

pull-7 {
  left: -560px;
}

pull-8 {
  left: -640px;
}

pull-9 {
  left: -720px;
}

pull-10 {
  left: -800px;
}

pull-11 {
  left: -880px;
}
