@media screen {
  /* force vertical scrollbar */
  body {
    overflow-y: scroll;
  }

  /* Layout Module Configuration */
  wrapper {
    max-width: 80em;
    margin: 0 auto;
  }

  wbox {
    padding: 1.5em;
  }

  /* fallback for missing media queries support*/
  body > header, body > nav, body > #main, body > footer {
    min-width: 760px;
  }

  /* Basic Element Styling */
  header {
    background: #444;
    color: #ccc;
  }
  header h1 {
    background: transparent;
    color: #fff;
  }
  header wbox {
    padding: 1.5em;
  }

  nav {
    background: #222222;
  }

  #main .info {
    margin-bottom: 1.5em;
  }
  #main aside gbox-right {
    border-left: 1px #dddddd solid;
  }

  footer {
    background: #eee;
    color: #444;
  }
  footer p {
    margin: 0;
  }
  footer wbox {
    padding: 1.5em;
  }

  gbox {
    padding: 0 1.5em;
  }

  gbox-left {
    padding: 0 1.5em 0 0;
  }

  gbox-right {
    padding: 0 0 0 1.5em;
  }

  section.box {
    padding: 0 1.5em 1.5em 1.5em;
  }

  /* skip links styling */
  skiplinks askip:focus,
  skiplinks askip:active {
    color: #fff;
    background: #333;
    border-bottom: 1px black solid;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
  }
}
/* reset fallback values in modern browsers */
@media screen and (min-width: 0px) {
  body > header, body > nav, body > #main, body > footer {
    min-width: 0;
  }
}
@media screen and (max-width: 760px) {
  /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
  .linearize-level-1, .linearize-level-1 > [class*=c"], .linearize-level-1 > [class*=g"] {
    /* linearization for grids and columns module */
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
  .linearize-level-1 > [class*=c"] > [class*=cbox"], .linearize-level-1 > [class*=g"] > [class*=gbox"] {
    /* reset defined gutter values */
    margin: 0;
    padding: 0;
    /* optional for containing floats */
    overflow: hidden;
  }

  .secondary {
    border-top: 1px #888888 solid;
    margin-top: 1.5em !important;
  }

  #main aside gbox-right {
    border: 0 none;
  }

  searchform {
    display: block;
    float: none;
    width: auto;
    text-align: right;
  }

  searchform input[type="search"] {
    width: 14%;
  }
}
@media screen and (max-width: 480px) {
  /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
  .linearize-level-2, .linearize-level-2 > [class*=c"], .linearize-level-2 > [class*=g"] {
    /* linearization for grids and columns module */
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
  .linearize-level-2 > [class*=c"] > [class*=cbox"], .linearize-level-2 > [class*=g"] > [class*=gbox"] {
    /* reset defined gutter values */
    margin: 0;
    padding: 0;
    /* optional for containing floats */
    overflow: hidden;
  }

  header wbox {
    padding: 0.75em 10px;
  }
  header h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
  }

  footer wbox,
  wbox,
  searchform,
  nav hlist ul {
    padding-left: 10px;
    padding-right: 10px;
  }

  searchform,
  nav hlist ul,
  nav hlist li {
    display: block;
    float: none;
    width: auto;
    text-align: left;
  }

  searchform input[type="search"] {
    width: 75%;
  }
}
