@media screen {
  /* force vertical scrollbar */
  body {
    overflow-y: scroll;
  }

  /* Layout Module Configuration & fallback for unsupported media queries */
  wrapper {
    min-width: 760px;
    max-width: 80em;
    margin: 0 auto;
  }

  wbox {
    padding: 10px;
  }

  /* Basic Element Styling */
  header {
    background: #444;
    color: #ccc;
    padding: 1.5em;
  }
  header h1 {
    background: transparent;
    color: #fff;
  }

  nav {
    background: #222222;
  }

  footer {
    margin: 1.5em 0 0 0;
    background: #eee;
    color: #444;
    padding: 1.5em;
  }
  footer p {
    margin: 0;
  }

  /* Column-Set Configuration: 1-3 (sidebar right) */
  column {
    display: block;
    overflow: hidden;
    padding-right: 340px;
    width: auto;
  }

  col1 {
    /* content */
    float: left;
    width: 100%;
  }

  col3 {
    /* sidebar */
    position: relative;
    float: left;
    width: 340px;
    margin-left: 0;
    margin-right: -340px;
  }

  col1 cbox {
    padding: 0 0.75em 0 1.5em;
  }

  col3 cbox {
    padding: 0 20px 0 12px;
  }

  gbox {
    padding: 0 1.5em 0 0;
  }

  /* skip links styling */
  skiplinks askip:focus,
  skiplinks askip:active {
    color: #fff;
    background: #333;
    border-bottom: 1px black solid;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
  }
}
/* reset fallback values in modern browsers */
@media screen and (min-width: 0px) {
  wrapper {
    min-width: 0px;
  }
}
@media screen and (max-width: 740px) {
  /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
  .linearize-level-1, .linearize-level-1 > [class*=c"], .linearize-level-1 > [class*=g"] {
    /* linearization for grids and columns module */
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
  .linearize-level-1 > [class*=c"] > [class*=cbox"], .linearize-level-1 > [class*=g"] > [class*=gbox"] {
    /* reset defined gutter values */
    margin: 0;
    padding: 0;
    /* optional for containing floats */
    overflow: hidden;
  }

  nav hlist ul {
    padding-right: 10px;
  }

  searchform {
    display: block;
    float: none;
    width: auto;
    padding-right: 10px;
    text-align: right;
  }

  searchform input[type="search"] {
    width: 14%;
  }
}
@media screen and (max-width: 480px) {
  wbox {
    padding: 0;
  }

  header {
    padding: 0.75em 10px;
  }
  header h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
  }

  footer,
  #main,
  searchform,
  nav hlist ul {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
  .linearize-level-2, .linearize-level-2 > [class*=c"], .linearize-level-2 > [class*=g"] {
    /* linearization for grids and columns module */
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
  .linearize-level-2 > [class*=c"] > [class*=cbox"], .linearize-level-2 > [class*=g"] > [class*=gbox"] {
    /* reset defined gutter values */
    margin: 0;
    padding: 0;
    /* optional for containing floats */
    overflow: hidden;
  }

  searchform,
  nav hlist ul,
  nav hlist li {
    display: block;
    float: none;
    width: auto;
    text-align: left;
  }

  searchform input[type="search"] {
    width: 75%;
  }
}
