@import "../../../_yaml-var-globals";

@media all {

	/**
	* @section browser normalisation
	* Changing direction of text flow, paddings & margins ...
	*/

	option { padding: 0 0.4em 0 0; }

	body {
		text-align: right;
		direction: rtl;
	}

	ul, ol, dl { margin: 0 1em 1em 0; }
	li {
		margin-left: 0;
		margin-right: 0.8em;
	}

	dd { margin: 0 0.8em 1em 0; }
	blockquote, cite { margin: 0 0.8em 1em 0; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* (en) skip links cause large horizontal scrollbars in RTL mode in several browsers
	* (de) skip links erzeugen große horziontale Scrollbalken in verschiedenen Browserin im RTL-Modus
	*
	* @workaround
	* @affected   Firefox, Safari, IE 5.x - IE7
	* @css-for    all
	* @valid      yes
	*/

	.ym-skiplinks {
		left: 32768px !important;
		.ym-skip {
			&:focus,
			&:active{ left: -32768px !important; }
		}
	}

	.ym-skip,
	.ym-hideme,
	.ym-print { left: 32768px !important; }
	/*------------------------------------------------------------------------------------------------------*/

	/**
	* @section miscellaneous
	*
	* (en) CSS-class for ltr-content (left to right) within a rtl website
	* (de) Eine CSS-Klasse für ltr-Inhalte (left to right) innerhalb einer rtl-Seite
	*/

	.ym-text-ltr {
		direction: ltr;
		text-align: left;
	}
}