
@media all {
  .vcard, .vcard a, .vevent, .vevent a {
    background-repeat: no-repeat;
    background-image: url('img/icons-sccdd77aeac.png') !important;
  }

  a.xfnRelationship {
    background-repeat: no-repeat;
    background-image: url('img/xfn-scd19777e0a.png') !important;
  }

  .vcard {
    background-position: 5px -451px;
  }
  .vcard a {
    background-position: 0 -528px;
  }

  .vevent {
    background-position: 5px -487px !important;
  }
  .vevent a {
    background-position: 0 -528px !important;
  }

  /* XFN relationship */
  a.xfnRelationship {
    background-position: 0 -68px !important;
  }
}
